{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-two-thirds">

          <h1 class="heading-large">Confirm details
</h1>

<div class="panel panel-border-wide">

  {% if customer == "yes" %}
  <p>This person has a Support for Mortgage Interest loan already.</p>
  {% endif %}

  {% if existingapplication == "yes" %}
  <p>This is an existing applicant.</p>
  {% else %}
  <p>This would be a new applicant.</p>
  {% endif %}
</div>


            <table class="check-person">
                <tbody>
                    <tr>
                        <td>
                            Full name
                        </td>
                        <td>
                          {% include path+"/inc/applicantname.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            National Insurance Number
                        </td>
                        <td>
                            {{nino}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date of birth
                        </td>
                        <td>
                          {% include path+"/inc/applicantDOB.html" %}
                          </tr>
                          <tr>
                            <td valign="top">Address</td>
                            <td>
                              {% include path+"/inc/applicantaddress.html" %}
                            </td>
                          </tr>
                    <tr>
                        <td>
                            Qualifying benefit
                        </td>
                        <td>
                            {% include path+"/inc/applicantbenefits.html" %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="mth mb0"><br /><a href="limit_and_deductions?nino={{ nino }}&newapplication=yes" class="button">Start application</a><br /><br /></p>
            <p class="mth mb0"><a href="search">Cancel and find someone else</a></p>
         </div><!-- column -->
    </div>
  </div>
</main>
{% endblock %}
