{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">


        {% include path+"/inc/name-and-nino.html" %}

        <h1 class="heading-large">Loan 1</h1>

        <p>&nbsp;</p>

        <div class="tabs">
        	<div class="tabs-nav">
        		<ul class="tabs-list">
        			<li>
        				<a href="#tab-1">
        					Payee information
        				</a>
        			</li>
        			<li>
        				<a href="#tab-2">
        					Payments
        				</a>
        			</li>
        		</ul>
        	</div>
        </div>


        <div class="tabs-content">
                  <div class="tabs-panel" id="tab-1">
                    <div class="tabs-panel-inner">
                      <h2 class="js-hidden heading-medium">
                        Payee information
                      </h2>

                      <table class="lender-details-1">
                        <tbody>

                        <tr>
                        <td>
                            <span class="bold-small">Lender name</span>
                        </td>
                        <td>
                              Bank of Bananas
                        </td>
                      </tr>

                      <tr>
                      <td valign="top">
                          <span class="bold-small">Lender address</span>
                      </td>
                      <td>
                            Address line 1<br />
                            Address line 2<br />
                            Address line 3<br />
                            Address line 4<br />

                            Postcode<br />


                      </td>
                    </tr>

                    <tr>
                    <td>
                        <span class="bold-small">QLR code</span>
                    </td>
                    <td>
                          9999
                    </td>
                  </tr>



                          <tr>
                          <td>
                              <span class="bold-small">Sort code</span>
                          </td>
                          <td>
                                01-44-99
                          </td>
                        </tr>

                        <tr>
                        <td>
                            <span class="bold-small">Account number</span>
                        </td>
                        <td>
                              71207737
                        </td>
                      </tr>
                      <tr>
                      <td>
                          <span class="bold-small">Loan reference number</span>
                      </td>
                      <td>
                            12343456
                      </td>
                    </tr>



                  </table>

                    </div>
        </div>

        <div class="tabs-panel" id="tab-2">
        	<div class="tabs-panel-inner">
        		<h2 class="js-hidden heading-medium">
        			Payments details
        		</h2>

        		<p class="text">
            Weekly amount</span>
                &pound;23.18
        		</p>

            <p>First payment issued: date here</p>
        	</div>
        </div>


        </div>





             <p class="mth mb0">
               <a href="review-payment" class="button" >Continue</a>
             </p>


      </div> <!-- COLUMN 2 THRIDS -->

       <!-- COLUMN 1 THIRD -->
       <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
