{% extends path+"/inc/layout.html" %}

{% block content %}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}


  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->

			 {% include path+"/inc/name-and-nino.html" %}




<div class="panel panel-border-wide" style="border-color: #28a197; border-left-style: solid; background-color: #eaf6f5;">

	<h2 class="heading-small">Case created</h2>
</div>


<!--
						 <div class="panel panel-border-wide" style="border-color: #005ea5; border-left-style: solid; background-color: #eaf4f9;">
							 <h2 class="heading-small">Next task</h2>
							 <ul>
								 <li><a href="list-of-MI12s-blank?nino=QF 08 22 62 D">Send MI12</a></li>
							 </ul>

						</div>
-->

<!--
<nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Case overview</a>
          </li>
          <li>
            <a href="#">Customer's details</a>
          </li>
        </ul>
</nav>

-->

<p>&nbsp;</p>

<div class="tabs">
	<div class="tabs-nav">
		<ul class="tabs-list">
			<li>
				<a href="#tab-1">
					Case overview
				</a>
			</li>
			<li>
				<a href="summary-show-details">
					Customer's details
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="tabs-content">
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">
              <h2 class="js-hidden heading-medium">
                Case overview
              </h2>


<div id="tasks-content">
	<ol class="task-list">
			<ul class="task-list-items">
				<li class="task-list-item">
					<a class="task-name" href="list-of-MI12s-blank">
						    MI12 form
					</a>
<span class="status-on-hold">TO DO</span>
				</li>
				<li class="task-list-item">
					<a class="task-name" href="smi-loan-decision">
						    Loan agreement and charge form
						  </a>
							<span class="status-on-hold">TO DO</span>
				</li>
				<li class="task-list-item">
					<a class="task-name" href="add-deductions">
				Deductions and charges
			</a>
			<span class="status-on-hold">TO DO</span>
				</li>

				<li class="task-list-item">
					<a class="task-name" href="list-of-loans-blank">
				Loan and payments
			</a>
			<span class="status-on-hold">TO DO</span>
				</li>
		</ul>
	</ol>
</div>

</div>
</div>

<div class="tabs-panel" id="tab-2">
	<div class="tabs-panel-inner">
		<h2 class="js-hidden heading-medium">
			Customer's details
		</h2>

		<p class="text">
		</p>
	</div>
</div>


</div>




	        <!--<p class="mth mb0"><a href="payments" class="button">Proceed to authorise payments</a></p>-->
      </div>
			<div class="column-one-third">
				<p>&nbsp;</p>
				<h2 class="heading-medium">Claim history</h2>

        <p>
        <a href="add-note">Add note</a>
      </p>

				<ul class="timeline-bsp">
					<li>
						<span class="entry"></span>
						<h3 class="bold">Case created</h3>
						<span>by Jo Arthur</span>
						<span>21 May 2018</span>
					</li>

				</ul>

        <p style="margin-top: 32px;">
          <a href="view-notes">View all notes</a>
        </p>

			</div>

    </div> <!-- GRID ROW -->
  </div> <!-- MAIN CONTENT -->
</main>


{% endblock %}
