{% extends path+"/inc/smits-layout.html" %} {% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  {% set passvariables = "nino=" + nino + "&loanreference=" + loanreference + "&benefittype=" + benefittype + "&overrideupperlimit=" + overrideupperlimit + "&nondependantdeductions=" + nondependantdeductions + "&groundrentandservicecharge=" + groundrentandservicecharge + "&outstandingbalance=" + outstandingbalance + "&sharedhousingcosts1=" + sharedhousingcosts1 + "&sharedhousingcosts2=" + sharedhousingcosts2 + "&loanexemptamount=" + loanexemptamount + "&weeklyMPPI=" + weeklyMPPI %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-large" style="margin-bottom:32px;">SMI Calculator </h1>
        <h2 class="heading-medium"><div class="hidden">National Insurance number </div>{{ nino }}</h2>

        <h3 class="heading-small">
          10.30am<br />
          8 March 2018
        </h2>

        <table>
          <tr>
            <td>Loan reference</td>
            <td>{{ loanreference }}</td>
          </tr>
          <tr>
            <td>Benefit type</td>
            <td>{{ benefittype }}</td>
          </tr>
          <tr>
            <td>Override upper limit</td>
            <td>{% if not overrideupperlimit %}Not provided{% else %}£{{ overrideupperlimit }}{% endif %}</td>
          </tr>
          <tr>
            <td>Weekly non-dependants deductions</td>
            <td>{% if not nondependantdeductions %}Not provided{% else %}£{{ nondependantdeductions }}{% endif %}</td>
          </tr>
          <tr>
            <td>Weekly ground rent and service charge</td>
            <td>{% if not groundrentandservicecharge %}Not provided{% else %}£{{ groundrentandservicecharge }}{% endif %}</td>
          </tr>
          <tr>
            <td>Outstanding balance</td>
            <td>£{{ outstandingbalance }}</td>
          </tr>
          <tr>
            <td>Shared housing costs</td>
            <td>{% if not sharedhousingcosts1 %}Not provided{% else %}{{ sharedhousingcosts1 }}{% endif %} / {% if not sharedhousingcosts2 %}Not provided{% else %}{{ sharedhousingcosts2 }}{% endif %}</td>
          </tr>
          <tr>
            <td>Loan exempt amount</td>
            <td>{% if not loanexemptamount %}Not provided{% else %}£{{ loanexemptamount }}{% endif %}</td>
          </tr>
          <tr>
            <td>Weekly MPPI</td>
            <td>{% if not weeklyMPPI %}Not provided{% else %}£{{ weeklyMPPI }}{% endif %}</td>
          </tr>
          <tr>
            <td><div class="bold">Total weekly net interest</div></td>
            <td><div class="bold">£123.45</div></td>
            <td></td>
          </tr>
        </table>

        <p>
          &nbsp;
        </p>

      <p>
        <a class="button" type="submit" value="Print" onclick="window.print();return false;">Print</a>
      </p>
      <p>
        <a href="screen_1">Start a new calculation</a>
      </p>




    </div>
    <!-- COLUMN 2 THRIDS -->

  </div>
  <!-- GRID ROM -->

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
