{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-two-thirds">

          <h1 class="heading-large">Start page</h1>

        <p>
          <ol>
            <li><a href="service-updates">Service updates page</a>, with no NINO or benefit allocated</li>
            <li><a href="search">Find someone</a>, with no NINO pre-loaded</li>
            <li><a href="service-updates?nino=IV435168B&benefitclass=">Service updates page</a>, with NINO IV 43 51 68 B carried through with no benefit</li>
            <li><a href="service-updates?nino=QU452702A&benefitclass=WA">Service updates page</a> with NINo QU 45 27 02 A carried through for a working age example</li>
            <li><a href="service-updates?nino=FD340514D&benefitclass=PC">Service updates page</a> with NINo FD 34 05 14 D carried through for a pension credit example</a></li>
          </ol>
        </p>
        </div>


    </div>

    </div>
  </div>
</main>
{% endblock %}
