{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino_in-payment.html" %}

        <div class="panel panel-border-wide" style="border-color: #28a197; border-left-style: solid; background-color: #eaf6f5;">

        	<h2 class="heading-small">Non-dependant deductions updated</h2>
        </div>




        <h1 class="heading-large">Deductions and charges</h1>


                {% set navactive = "money" %}
                {% if not newapplication %}

                {% endif %}

<table>
  <tr>
    <td>Non-dependant deductions</td>
    <td>£11.33 per week</td>
    <td><a href="change-non-deps">change</a></td>
  </tr>
  <tr>
    <td>Ground rent</td>
    <td>£6.78 per week</td>
    <td><a href="change-ground-rent">change</a></td>
  </tr>
  <tr>
    <td>Service charges</td>
    <td>none</td>
    <td><a href="change-service-charges">change</a></td>
  </tr>
  <tr>
    <td>Deductions because of excess income</td>
    <td>none</td>
    <td><a href="change-deductions">change</a></td>
  </tr>
</table>

<p style="margin-top:32px;">
<a href="summary-6" class="link-back">Back to case overview</a>
</p>



      </div> <!-- COLUMN 2 THRIDS -->


    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
