{% extends "layout.html" %} {% block content %}
<div class="index">

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">Manage a mortgage interest loan</h1>
    <h2 class="heading-large index-heading-large">Data transfer tool prototypes</h2>
  </div>
</div>

<main id="content" role="main">

      <div class="column-two-thirds">

        <h2 class="heading-medium">Version 3: 29 January 2018</h2>

        <h3 class="heading-small">Changes</h3>

          <ul class="list list-bullet">
            <li>combined screens 1 and 2</li>
          </ul>


        <a href="v3/screen_0" class="button button-start mth mb1">Launch prototype</a>



        <h2 class="heading-medium">Version 2: 19 January 2018</h2>


        <h3 class="heading-small">Queries</h3>

          <ul class="list list-bullet">
            <li>What validation is to be done?</li>
            <li>Screen 0: What is "incorrect" NINo is submitted?</li>
            <li>Screen 0: What if NINo already "exists" (within this system)?</li>
          </ul>


        <h3 class="heading-small">To do</h3>

          <ul class="list list-bullet">
            <li>Navigation: customer info / loans/payment / notes</li>
            <li>back links</li>
            <li>Tidy tables across screen</li>
            <li>Bolden labels on tables</li>
            <li>Screen 2: Need explanatory content for "on hold"</li>
            <li>Screen 4: content review of "Start of SMI loan payment" and guidance</li>
            <li>Screen 4: content review of "End of SMI loan payment"</li>
            <li>Screen 6: review "Next action due date" - is this new or replacing Date of payment accurancy check?</li>

          </ul>


        <h3 class="heading-small">Changes</h3>

          <ul class="list list-bullet">
            <li>Change name of tool to SMICR</li>
            <li>Across screens swapped order of Name and NINO</li>
            <li>proper titling of screens (was just called "screen 1" etc at the moment to help with narrative). Kept the screen number in the title to help with discussions.</li>
            <li>Status stamps included as example</li>
            <li>One screen shows what will happen if user is viewing an applicant who is already in the system: <a href="screen_1?nino=zz1234567AA&title=Mr&firstname=Frank&lastname=Spencer&dob_dd=27&dob_mm=10&dob_yy=1975&claimantaddress1=&claimantaddress2=&claimantaddress3=&claimantaddress4=&claimantaddresspostcode=&correspondenceaddress1=&correspondenceaddress2=&correspondenceaddresspostcode=&country=&alternativeformatrequired=&alternativeformatnote=&hometelephonenumber=&mobiletelephonenumber=&textphonenumber=&partner=">View</a>.</li>
            <li>View All Notes and View Notes screens added</li>
            <li>Notes added to Overview [screen 3]</li>
            <li>Back links added to Add Note (cancel, takes back to previous screen)</li>
            <li>Styling of H1, H2 changed to give some hierarchy</li>
            <li>Screen 1: "country code" to "company"</li>
            <li>Screen 1: list countries by name not by shortcode</li>
            <li>Screen 1: Alternative format required selection added and notes when user clicks yes</li>
            <li>Screen 2: change "SMI only, eg 10p" to "SMI loan only"</li>
            <li>Screen 2: added UC to Benefit Types list</li>
            <li>Screen 2: remove "suspended" from Qualifying benefit status</li>
            <li>Screen 3: replaced "gross weekly amount" with "applicable loan balance"</li>
            <li>Screen 4: Loan status is live and dormant only</li>
            <li>Screen 4: Change to "Start of SMI loan payment", and inclusion of guidance</li>
            <li>Screen 4: Change to "End of SMI loan payment"</li>
            <li>Screen 4: Shared housing cost is a fraction now</li>
            <li>Screen 4: Inclusion of Adjustments, with yes/no and notes</li>
            <li>Screen 5: Added guidance "Do not complete if paying direct to claimant" for Qualified lender code</li>
            <li>Screen 5: content review of guidance "Do not complete if paying direct to claimant" for Qualified lender code, and content changed</li>
            <li>Screen 6: Added in "Next action due date"</li>
            <li>Reviewed <a href-="v2/screen_7">screen 7</a> and <a href="v2/screen_8">screen 8</a>. Decided to remove for time being. Actions are confirmed by a status banner on the next page.</li>
            <li>Alert banner to show action done: <a href="screen_3-with-info-and-notes-1?next-action-day=&dob-month=&dob-year=&dob-day=&dob-month=&dob-year=&regpay01=&dob-day=&dob-month=&dob-year=&paymentfrequency=&alertshow=yes&alertmessage=Loan+saved">View</a>.</li>
          </ul>


          <a href="v2/screen_0" class="button button-start mth mb1">Launch prototype</a>




        <h2 class="heading-medium">Version 1: 12 January 2018</h2>

        <a href="v1/screen_0" class="button button-start mth mb1">Launch prototype</a>


    </div>
    <!-- COLUMN 2 THRIDS -->

  </main>

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
