{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}



          <h1 class="heading-large">Add note</h1>

          <form action="summary" method="get" class="form">

            <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>

            <p class="mth mb0"><a href="" class="button">Save note</a></p>
            <p>
              <a href="notes?nino={{ nino }}">Cancel</a>
            </p>

         </p>


        </form>



      </div>
    </div>
  </div>
</main>
{% endblock %}
