{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Kris Kelsey Shaw
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>
            
            <div class="admin-panes">
              <div class="admin-pane">
                <h2 class="heading-medium">Enter mortgage or home loan details</h2>

                  <table class="lender-details-1">
                    <tbody>
                        <tr>
                          <td>
                              Lender
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote"></span>
                              <input class= "form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                            </div>       
                          </td>
                          <td>                        
                           </div></td>
                        </tr>

                        <tr>
                          <td>
                            Lender's loan reference
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote"></span>
                              <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                            </div>       
                         </td>
                         <td>                        
                          </div></td>
                        </tr> 
                        
                        <tr>
                          <td>
                              Mortgage or home loan start date
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <div class="form-date">
                                <div class="form-group form-group-day">
                                  <label class="form-label" for="dob-day">Day</label>
                                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                </div>
                                <div class="form-group form-group-month">
                                  <label class="form-label" for="dob-month">Month</label>
                                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>
                                <div class="form-group form-group-year">
                                  <label class="form-label" for="dob-year">Year</label>
                                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                </div>
                              </div>
                            </div>       
                          </td>
                                               
                        <tr>
                          <td>
                              Outstanding balance
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote">£</span>
                              <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                            </div>       
                          </td>
                          <td>                        
                           </div></td>
                        </tr>   

                        <tr>
                          <td>
                              Shared housing cost ratio
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote"></span>
                              <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9" style="width:10%"> / <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9" style="width:10%">
                            </div>       
                          </td>
                          <td>                        
                           </div></td>
                        </tr>  

                        <tr>
                          <td>
                              Loan exempt amount
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote">£</span>
                              <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                            </div>       
                          </td>
                          <td>                        
                           </div></td>
                        </tr> 

                        <tr>
                          <td>
                              Weekly override amount
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote">£</span>
                              <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                            </div>       
                          </td>
                          <td>                        
                           </div></td>
                        </tr>   

                        <tr>
                          <td>
                              Weekly mortgage protection policy amount
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote">£</span>
                              <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                            </div>       
                          </td>
                          <td>                        
                           </div></td>
                        </tr>

                    </tbody>
                  </table> 

                <h2 class="heading-medium">Enter payee account details</h2>
                
                  <table class="lender-details-1">
                    <tbody>
                        <tr>
                        <td>
                            Account name
                        </td>
                        <td>                           
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote"></span>
                              <input class= "form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                          </div> 
                        </td>
                      </tr>
                      <tr>  
                        <td>  
                            Sort code                       
                        </td>
                        <td>
                            <div class="form-date form-group">
                    <fieldset>
                      <div class="form-group form-group-day">
                        <label for="ba-sort1"></label>
                        <input class="form-control" id="ba-sort1" maxlength="2" name="ba-sort1" value="" type="text">
                      </div>

                      <div class="form-group form-group-month">
                        <label for="ba-sort2"></label>
                        <input class="form-control" id="ba-sort2" maxlength="2" name="ba-sort2" value="" type="text">
                      </div>

                      <div class="form-group form-group-month">
                        <label for="ba-sort3"></label>
                        <input class="form-control" id="ba-sort3" maxlength="2" name="ba-sort3" value="" type="text">
                      </div>
                    </fieldset>
                  </div>
                        </td>     
                      </tr>
                      <tr>
                        <td>
                            Account number
                        </td>
                        <td>                           
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote"></span>
                              <input class= "form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                          </div> 
                        </td>
                      </tr>  

                      <tr>
                        <td>
                            Building society roll number
                        </td>
                        <td>                           
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote"></span>
                              <input class= "form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                          </div> 
                        </td>
                      </tr>  

                    </tbody>
                  </table> 

    
              </div> <!-- ADMIN PANE -->
            </div>  <!-- ADMIN PANES -->
          <br> </br>
          
         <p class="mth mb0"><a href="../mvp-v2/summary" class="button">Save and continue</a><br /><br /></p>
         <p class="mth mb0"><a href="../mvp-v2/mortgage">Save and add another loan</a><br /></p>
         <p class="mth mb0"><a href="../mvp-v2/summary">Cancel and return to summary</a></p>


      </div> <!-- COLUMN 2 THRIDS -->

      <div class="column-one-third"> <!-- COLUMN 1 THIRD -->

      <!--<div class="panel panel-border-wide alert-default">
          <p class="heading-small">Next thing to do:</p> Send out MI12 reminder
          <p><a href="#">View to do list</a></p>
      </div>-->     
      <div class="left-aside">
     	  <h3 class="heading-small">Date of birth</h3> <p>14 July 1981</p>
	      <hr  style="width:50%;margin:0"/>
     	  <h3 class="heading-small">Address</h3> <p>321 Highstreet<br />Bolton<br />UK<br />BL1 2AB</p>
	      <hr  style="width:50%;margin:0"/>
     	  <h3 class="heading-small">Phone number</h3> <p>Home &nbsp;&nbsp;&nbsp; 01234 567890</p> <p>Mobile &nbsp;&nbsp; 07912 345678</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Benefit</h3> <p>Jobseeker's Allowance</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Representative appointee </h3> <p>Neil Murphy</p>
	      <hr  style="width:50%;margin:0"/>
		  <h3 class="heading-small">Case notes</h3> <p><a href="../mvp-v2/notes" class="heading-small">View and add case notes</a></p>
	    </div> 

    </div> <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
