{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino_in-payment.html" %}


                <h1 class="heading-large">Loan 1 details</h1>

<table>
  <tr>
  <td>
      <span class="bold-small">Type of loan</span>
  </td>
  <td>
Mortgage
  </td>
</tr>
</table>


                                <h2 class="heading-medium">Lender details</h1>



                <table class="lender-details-1">
                  <tbody>
                    <tr>
                      <td>
                          <span class="bold-small">Name of lender</span>
                      </td>
                      <td>
                        Bank of Bananas
                      </td>
                    </tr>


                    <tr>

                    <td>
                        <span class="bold-small">Payments for the loan to</span>
                    </td>
                    <td>
                      A bank or building society
                    </td>
                  </tr>

                  <tr>
                    <td>
                        <span class="bold-small">Account number</span>
                    </td>
                    <td>
                      12345678
                    </td>
                  </tr>

                  <tr>
                    <td>
                        <span class="bold-small">QLR code</span>
                    </td>
                    <td>
                      1234
                    </td>
                  </tr>



                  <tr>
                    <td>
                        <span class="bold-small">Address</span>
                    </td>
                    <td>
                      47 High Street<br />
                      Birmingham<br />
                      Staffordshire<br />
                      B12 7CD
                    </td>
                  </tr>



                </table>

                <h2 class="heading-medium">Loan details</h1>



                <table>

                  <tr>
                    <td>
                        <span class="bold-small">Loan reference number</span>
                    </td>
                    <td>
                      12345678
                    </td>
                  </tr>



                  <tr>
                  <td>
                      <span class="bold-small">Allowable loan amount</span>
                  </td>
                  <td>
                        &pound;50,000
                  </td>
                </tr>

                <tr>
                <td>
                    <span class="bold-small">Weekly amount</span>
                </td>
                <td>
                      &pound;17.13
                </td>
              </tr>

              <tr>
              <td>
                  <span class="bold-small">Amount every 4 weeks</span>
              </td>
              <td>
                    &pound;68.52
              </td>
            </tr>


                                                          <tr>
                                                          <td>
                                                              <span class="bold-small">Mortgage protection policy</span>
                                                          </td>
                                                          <td>
                                                                &pound;5.47 per week
                                                          </td>
                                                        </tr>

                                                        <tr>
                                                        <td>
                                                            <span class="bold-small">Applicant's share of loan payment</span>
                                                        </td>
                                                        <td>
                                                              100%
                                                        </td>
                                                      </tr>



</table>

<h2 class="heading-medium">Payment details</h1>

  <table>

    <tr>
      <td>
          <span class="bold-small">Arrears at set up</span>
      </td>
      <td>
        &pound;756
      </td>
    </tr>

    <tr>
      <td>
          <span class="bold-small">Payment from</span>
      </td>
      <td>
        18 September 2018
      </td>
    </tr>

    <tr>
      <td>
          <span class="bold-small">First payment due</span>
      </td>
      <td>
        23 September 2018
      </td>
    </tr>

    <tr>
      <td>
          <span class="bold-small">End date</span>
      </td>
      <td>
        None
      </td>
    </tr>



  </table>

<p><a href="stop-payment" class="button">Stop payments</a></p>
            </div>


       <!-- COLUMN 2 THIRDS -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
