{% extends path+"/inc/layout.html" %}

{% block content %}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}


  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->

			 {% include path+"/inc/name-and-nino.html" %}




<p>&nbsp;</p>

{% include path+"/inc/summary_tab_letters.html" %}


<div class="tabs-content"  style="border-top: 1px solid #bfc1c3;">

  <div class="tabs-panel" id="tab-1">
    <div class="tabs-panel-inner">
		<h2 class="heading-medium">
			Letters
		</h2>

    <h3 class="heading-small">Loan Agreement received</h3>
    <ul class="list list-bullet">
      <li><a href="#">SMIL007A - Loan agreement received - Appointee</a></li>
      <li><a href="#">SMIL007AW - Loan agreement received - Appointee Welsh</a></li>
      <li><a href="#">SMIL007B - Loan agreement received - </a></li>
      <li><a href="#">SMIL007BW - Loan agreement received Welsh</a></li>
    </ul>

    <h3 class="heading-small">Loan Agreement reminder</h3>
    <ul class="list list-bullet">
    <li><a href="#">SMIL008(N) - Loan agreement reminder</a></li>
    <li><a href="#">SMIL008W(N) - Loan agreement reminder - Welsh</a></li>
  </ul>

    <h3 class="heading-small">Sending back loan documents</h3>
    <ul class="list list-bullet">
    <li><a href="#">SMIL011(N) - Sending back loan docs NEW</a></li>
    <li><a href="#">SMIL011W(N) - Sending back loan docs (Welsh) NEW</a></li>
  </ul>

    <h3 class="heading-small">Re-issue of loan documents</h3>
    <ul class="list list-bullet">
    <li><a href="#">SMIL012(N) - 0718 Re-issue load docs England and Wales (English)</a></li>
    <li><a href="#">SMIL012S(N) - 0718 Re-issue load docs Scotland</a></li>
    <li><a href="#">SMIL012W(N) - 0718 Re-issue load docs England and Wales (Welsh)</a></li>
    <li><a href="#">SMIL012A(N) - 0718 Re-issue load docs England and Wales (English Appointee)</a></li>
    <li><a href="#">SMIL012AS(N) - 0718 Re-issue load docs Scotland (Appointee)</a></li>
    <li><a href="#">SMIL012AW(N) - 0718 Re-issue load docs England and Wales (Welsh Appointee)</a></li>
  </ul>

    <h3 class="heading-small">Missing information</h3>
    <ul class="list list-bullet">
    <li><a href="#">SMIL034 - MI12-MI12R missing info letter</a></li>
    <li><a href="#">SMIL034W - MI12-MI12R missing info Welsh</a></li>
    <li><a href="#">SMIL035 - MI12-MI12R missing info letter</a></li>
    <li><a href="#">SMIL035W - MI12MI12R missing info reminder Welsh</a></li>
    <li><a href="#">SMIL036 - MI12MI12R reminder letter</a></li>
    <li><a href="#">SMIL036W - MI12MI12R reminder Welsh</a></li>
    <li><a href="#">SMIL045 - Missing or more information</a></li>
    <li><a href="#">SMIL045W - Missing or more information Welsh</a></li>
    <li><a href="#">SMIL046 - Missing or more info reminder</a></li>
    <li><a href="#">SMIL046W - Missing or more info reminder Welsh</a></li>
  </ul>

    <h3 class="heading-small">Award or entitlement</h3>
    <ul class="list list-bullet">
    <li><a href="#">SMIL054 - SMI start to lender</a></li>
    <li><a href="#">SMIL059 - Award letter loan only scenario</a></li>
    <li><a href="#">SMIL059W - Award letter loan only scenario Welsh</a></li>
  </ul>

	</div>
</div>


</div>
</div>




	        <!--<p class="mth mb0"><a href="payments" class="button">Proceed to authorise payments</a></p>-->
			<div class="column-one-third">
				<p>&nbsp;</p>
				<h2 class="heading-medium">Claim history</h2>

        <p>
        <a href="add-note">Add note</a>
      </p>


				<ul class="timeline-bsp">
					<li>
						<span class="entry"></span>
						<h3 class="bold">Case created</h3>
						<span>by Jo Arthur</span>
						<span>21 May 2018</span>
					</li>

				</ul>

				<!--<p style="margin-top: 32px;">
          <a href="view-notes">View all notes</a>
        </p>-->


			</div>

    </div> <!-- GRID ROW -->
  </div> <!-- MAIN CONTENT -->
</main>


{% endblock %}
