{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-full">
        <div class="search-box-container">

          <h1 class="heading-large">Find someone</h1>

          <div class="example">
      
          <form action="person-1" method="get" class="form" id="search-form">
            <label class="form-hint" for="nino" id="searchbox">Enter a National Insurance number</label>
            <input id="nino" type="search" autocomplete="off" name="nino" class="form-control js-search-focus" value="QQ123456C">
            <input id="search-submit"  type="submit" class="search-submit" value="Search"/>
          </form>

        </div>
      </div>
    </div>
  </div>

      <div class="grid-row">
         <div class="column-one-half">
           <h1 class="heading-medium">
            Check if this is the right person to add
          </h1>
            <table class="check-person">
                <tbody>
                    <tr>
                        <td>
                            Full name
                        </td>
                        <td>
                            Kris Kelsey Shaw
                        </td>
                    </tr>
                    <tr>
                        <td>
                            National Insurance Number
                        </td>
                        <td>
                            QQ123456C
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date of birth
                        </td>
                        <td>
                            24 Jan 1949
                        </td>
                  </tr>      
                </tbody>
            </table>

            <p class="mth mb0"><a href="person-1" class="button">Add person</a></p>
            <p class="mth mb0"><a href="search">Cancel</a></p>   
         </div><!-- column -->
    </div>
  </div>  
</main>
{% endblock %}
