{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-two-thirds">

          <h1 class="heading-large">What is new</h1>

          <p>&nbsp;</p>

          <div class="notice">
            <i class="icon icon-important">
              <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
              You need to set up a new shortcut for Manage a Mortgage Interest loan.
            </strong>
          </div>

          <h2 class="heading-medium"></h2>

          <p><a href="#">How to set up a shortcut.</a></p>

          <p>The new web address is: http://smi-admin.gov.uk/</p>

          <p>You’ve been automatically redirected for now but on 30 September 2018 the old site will be deleted and any old shortcuts will no longer work.</p>

          <p style="margin-top:32px;"><a href="search?benefitclass=WA" class="button">Continue</a></p>

    </div>

    </div>
  </div>
</main>
{% endblock %}
