<table>
    <tbody>
              <tr>
                  <td>
                      Qualifying benefit
                  </td>
                  <td>
                      Employment and Support Allowance (ESA)
                  </td>
              </tr>
        </tbody>
  </table>


  <h2 class="heading-medium">Personal details</h2>

  <table>
    <tbody>

              <tr>
                  <td>
                      Title
                  </td>
                  <td>
                    Mrs
                  </td>
              </tr>

                <tr>
                    <td>
                        Full name
                    </td>
                    <td>
                      {% include path+"/inc/applicantname.html" %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Date of birth
                    </td>
                    <td>
                      {% include path+"/inc/applicantDOB.html" %}
                    </td>
                  </tr>

                      <tr>
                        <td valign="top">Address of property that loan is held against</td>
                        <td>
                          {% include path+"/inc/applicantaddress.html" %}
                        </td>
                      </tr>
                      <tr>
                        <td valign="top">Country where property is</td>
                        <td>
                          England
                        </td>
                      </tr>


                <tr>
                  <td valign="top">Address where applicant lives now</td>
                  <td>
                    {% include path+"/inc/applicantaddress.html" %}
                  </td>
                </tr>
                <tr>
                    <td>
                        Main phone number
                    </td>
                    <td>
                        01234 5678901
                    </td>
                </tr>
                <tr>
                    <td>
                        Other phone number
                    </td>
                    <td>
                        04321 1098765
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        This person needs to be contacted using [format].
                    </td>
                </tr>

              </tbody>
        </table>

        <h2 class="heading-medium">Alternative contact details</h2>

        <p>The following person handles correspondence for the applicant.</p>


        <table>
          <tbody>

                <tr>
                    <td>
                        Title
                    </td>
                    <td>
                      Mr
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                      Mark Bowater
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        Address
                    </td>
                    <td>
                      123 Duffy Avenue<br />
                      Newcastle<br />
                      N1 9WD
                    </td>
                </tr>
                <tr>
                    <td>
                        Main phone number
                    </td>
                    <td>
                      01432 987654
                    </td>
                </tr>
                <tr>
                    <td>
                        Other phone number
                    </td>
                    <td>
                      01234 654987
                    </td>
                </tr>

                <tr>
                    <td>
                        Does the person need an alternative format?
                    </td>
                    <td>
                      Yes. Large print
                    </td>
                </tr>


            </tbody>
        </table>
