{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

	{% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Kris Kelsey Shaw
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>

		  <p><a href="../mvp-v2/summary">Back to summary</a></p>   

		<div class="admin-panes">
			<div class="admin-pane">

				 <h2 class="heading-medium">Notes</h2>
				 <h3 class="heading-small">12th October 2017 &nbsp;&nbsp;–&nbsp;&nbsp; Obi Wan added the following note...</h3>

				 <p>A long time ago in a galaxy far, far away. Luke Skywalker has returned to his home planet of Tatooine in an attempt to rescue his friend Han Solo from the clutches of the vile gangster Jabba the Hutt.</p>
				 <p>Little does Luke know that the GALACTIC EMPIRE has secretly begun construction on a new armored space station even more powerful than the first dreaded Death Star.</p>
				 <p>When completed, this ultimate weapon will spell certain doom for the small band of rebels struggling to restore freedom to the galaxy...</p>
				 
				 <h2 class="heading-medium">Add note</h2>
				 <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>

			</div> <!-- ADMIN PANE -->
		</div> <!-- ADMIN PANES -->

	  <p class="mth mb0"><a href="../mvp-v2/summary" class="button">Add note</a><br /><br /></p>
	  <p class="mth mb0"><a href="../mvp-v2/summary" class="">Cancel and return to summary</a></p>
	  	
	  </div> <!-- COLUMN 2 THIRDS -->

	  <div class="column-one-third"> 

	    <!--<div class="panel panel-border-wide alert-default">
	        <p class="heading-small">Next thing to do:</p> Send out MI12 reminder
	        <p><a href="#">View to do list</a></p>
	    </div>-->  
	    <div class="left-aside">
	      <h3 class="heading-small">Benefit</h3> <p>Pension Credit</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Representative</h3> <p>Neil Murphy</p>
	    </div>

	  </div> <!-- COLUMN 1 THIRD -->

	</div> <!-- GRID ROW-->
  </div> <!-- MAIN CONTENT -->

</main>  

{% endblock %}