{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}


  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->

			 <h1 class="heading-large">Summary</h1>

			<div class="admin-panes">
		        <div class="admin-pane">

							<h2 class="heading-medium mb0">Upper limit and deductions</h2>

		            <table class="borrower-details">
		                <tbody>

		                    <tr>
		                        <td>
		                            Upper limit
		                        </td>
		                        <td>
		                            £200,000
		                        </td>

		                        <td></td>
		                        <td><p class="heading-small"><a href="edit_limit_and_deductions">Edit<span class="visuallyhidden">overview details</span></a></p></td>
		                    </tr>

		                    <tr>
		                        <td>
		                            Ground rent and service charges
		                        </td>
		                        <td>
		                            Nothing entered
		                        </td>
		                        <td></td>
		                        <td><p class="heading-small"><a href="edit_limit_and_deductions">Edit<span class="visuallyhidden">overview details</span></a></p></td>
		                    </tr>

		                    <tr>
		                        <td>
		                            Non-dependant deductions
		                        </td>
		                        <td>
		                            Nothing entered
		                        </td>
		                        <td></td>
		                        <td><p class="heading-small"><a href="edit_limit_and_deductions">Edit<span class="visuallyhidden">overview details</span></a></p></td>
		                    </tr>
		                </tbody>
		            </table>

								<br /><br />

		            <h2 class="heading-medium mb0">Mortgages and loans</h2>

	                <table class="loan-details">
	                	<tbody>
			                <tr>
			                  <td>
			                   <h2 class="heading-small">Mortgage or home loan ref</h2>
			                  </td>
			                  <td>
			                  <h2 class="heading-small">Weekly payment with deductions</h2>
			                  </td>
			                  <td></td>
			                </tr>
			                <tr>
			                  <td>
			                    12345678
			                  </td>
			                  <td>
			                  	£XX.XX <strong class="task-not-completed" id="not-authorised">Not authorised</strong>
			                  </td>
			                  <td>
			                    <p class="heading-small mth"><a href="edit-mortgage-1">Edit<span class="visuallyhidden"> mortgage or home loan details</span></a></p>
			                    </td>
			                </tr>

			                <tr>
			                  <td>
			                    23456789
			                  </td>
			                  <td>
			                  	£XX.XX  <strong class="task-completed" id="authorised">Authorised</strong>
			                  </td>
			                  <td>
			                    <p class="heading-small mth"><a href="edit-mortgage-2">Edit<span class="visuallyhidden"> mortgage or home loan details</span></a></p>
			                  </td>
			                </tr>
	                	</tbody>
	            	</table>

								<br />

								<p><a href="mortgage">Add another mortgage</a><br /><br /></p>


								<h2 class="heading-medium mb0">Notes</h2>

									<table class="loan-details">
										<tbody>
											<tr>
												<td>
												 <h2 class="heading-small">28 November 2017</h2>
												</td>
											</tr>
											<tr>
												<td>
													<div class="column-two-thirds">
													<div class="bold-small">Note written by Alan Buckley</div><br />
													We need some sample text to go in here. We are not putting this in front of users. And we are not using the sample Latin here either. This should represent what a user would actually out in here.
												</div>
												</td>
											</tr>

											<tr>
												<td>
												 <h2 class="heading-small">7 November 2017</h2>
												</td>
											</tr>
											<tr>
												<td>
													<div class="column-two-thirds">
														<div class="bold-small">Note written by John McDermott</div><br />
													We need some sample text to go in here. We are not putting this in front of users. And we are not using the sample Latin here either. This should represent what a user would actually out in here.
												</div>
												</td>
											</tr>

										</tbody>
								</table>

								<br />

								<p><a href="mortgage">Add another note</a><br /><br /></p>


		        </div> <!-- ADMIN PANE -->
		    </div> <!-- ADMIN PANES -->


	        <!--<p class="mth mb0"><a href="payments" class="button">Proceed to authorise payments</a></p>-->
      </div>     <!-- COLUMN 2 THRIDS -->

      <div class="column-one-third"> <!-- COLUMN 1 THIRD -->

	   <!-- <div class="panel panel-border-wide alert-default">
	        <p class="heading-small">Next thing to do:</p> Send out MI12 reminder
	        <p><a href="#">View to do list</a></p>
	    </div>  -->
	    <div class="left-aside">
				<h1 class="heading-medium">
				Applicant details
			</h1>
				<div class="panel panel-border-wide">
				<h2 class="heading-small">
					Kris Kelsey Shaw<br />
					<span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
				</h1>
				</div>

     	  <h3 class="heading-small">Date of birth</h3> <p>14 July 1981</p>
	      <hr  style="width:50%;margin:0"/>
     	  <h3 class="heading-small">Address</h3> <p>321 Highstreet<br />Bolton<br />UK<br />BL1 2AB</p>
	      <hr  style="width:50%;margin:0"/>
     	  <h3 class="heading-small">Phone number</h3> <p>Home &nbsp;&nbsp;&nbsp; 01234 567890<br/>Mobile &nbsp;&nbsp; 07912 345678</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Benefit</h3> <p>Jobseeker's Allowance</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Representative appointee </h3> <p>Neil Murphy</p>
	      <hr  style="width:50%;margin:0"/>
	    </div>

	  </div> <!-- COLUMN 1 THIRD -->


    </div> <!-- GRID ROW -->
  </div> <!-- MAIN CONTENT -->
</main>


{% endblock %}
