{% extends path+"/inc/layout.html" %}

{% block content %}
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}


  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->

			 {% include path+"/inc/name-and-nino_in-payment.html" %}

       <div class="panel panel-border-wide" style="border-color: #28a197; border-left-style: solid; background-color: #eaf6f5;">

        <h2 class="heading-small">Case control removed</h2>
       </div>



<p>&nbsp;</p>

{% include path+"/inc/summary_tab_case_management.html" %}



<div class="tabs-content"  style="border-top: 1px solid #bfc1c3;">

  <div class="tabs-panel" id="tab-1">
    <div class="tabs-panel-inner">

      <h2 class="heading-medium">
  Case status
</h2>



<table>
  <tr>
    <td>SMI status</td>
    <td><span class="status-on-hold">On hold</span></td>
    <td><a href="case-status-update-on_hold">Change status</a></td>
  </tr>
</table>

<h2 class="heading-medium">
Case controls
</h2>



<p>None</p>

<p style="padding-top:16px;"><a href="case-control-add">Add a new case control</a>


	</div>
</div>


</div>
</div>




	        <!--<p class="mth mb0"><a href="payments" class="button">Proceed to authorise payments</a></p>-->
			<div class="column-one-third">
				<p>&nbsp;</p>
				<h2 class="heading-medium">Case history</h2>

        <p>
        <a href="add-note">Add note</a>
      </p>


				<ul class="timeline-bsp">

          <li>
            <span class="entry"></span>
            <h3 class="bold">MI12 has been sent</h3>
            <span>by Simon Wilson</span>
            <span>28 December 2018</span>
          </li>


          <li>
            <span class="entry"></span>
            <h3 class="bold">Payment for loan 1 (mortgage) stopped</h3>
            <span>by Simon Wilson</span>
            <span>27 October 2018</span>
          </li>

          <li>
						<span class="entry"></span>
						<h3 class="bold">Payment for loan 1 (mortgage) set up</h3>
						<span>by Simon Wilson</span>
						<span>17 October 2018</span>
						<p>£13.44 to be paid every 4 weeks from 24 October 2018</p>
					</li>

					<li>
						<span class="entry"></span>
						<h3 class="bold">Loan 1 (mortgage) added</h3>
						<span>by Simon Wilson</span>
						<span>17 October 2018</span>
						<p>Loan reference number 7611448890<br />
Allowable amount: £6,688.84</p>
					</li>

					<li>
						<span class="entry"></span>
						<h3 class="bold">Non-dependents, ground rent and service charges updated</h3>
						<span>by Dave Banks</span>
						<span>9 October 2018</span>
					</li>


					<li>
						<span class="entry"></span>
						<h3 class="bold">Case created</h3>
						<span>by Jo Arthur</span>
						<span>21 May 2018</span>
					</li>


				</ul>

				<!--<p style="margin-top: 32px;">
          <a href="view-notes">View all notes</a>
        </p>-->


			</div>

    </div> <!-- GRID ROW -->
  </div> <!-- MAIN CONTENT -->
</main>


{% endblock %}
