{% extends "layout.html" %} {% block content %}
<div class="index">

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">Manage a mortgage interest loan</h1>
    <h2 class="heading-large index-heading-large">SMITS calculator prototypes</h2>
  </div>
</div>

<main id="content" role="main">

<div class="grid-row">

  <p>&nbsp;</p>
  <hr>

          <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong>Warning here.</strong>
    </div>

    <hr>


      <div class="column-two-thirds">


        <h2 class="heading-medium">Version 1: 7 March 2018</h2>

        <h3 class="heading-small">Changes</h3>

          <ul class="list list-bullet">
            <li>Something</li>
          </ul>


        <a href="v1/screen_0" class="button button-start mth mb1">Launch prototype</a>




    </div>
    <!-- COLUMN 2 THRIDS -->

  </div>
  <!-- MAIN CONTENT -->

</main>

</div>

{% endblock %}
