{% extends "layout.html" %} {% block content %}
<div class="index">

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">Manage a mortgage interest loan</h1>
    <h2 class="heading-large index-heading-large">SMITS calculator prototypes</h2>
  </div>
</div>

<main id="content" role="main">

<div class="grid-row">


      <div class="column-two-thirds">


        <h2 class="heading-medium">Calculator version 1: 7 March 2018</h2>

        <h3 class="heading-small">Changes</h3>

          <ul class="list list-bullet">
            <li>Something</li>
          </ul>


        <a href="calculator/v1/index" class="button button-start mth mb1">Launch prototype</a>


        <h2 class="heading-medium">Calculator version 2: 8 March 2018</h2>

        <h3 class="heading-small">Changes</h3>

          <ul class="list list-bullet">
            <li>Includes Change option on final screen</li>
          </ul>


        <a href="calculator/v2/index" class="button button-start mth mb1">Launch prototype</a>


        <h2 class="heading-medium">Calculator version 3: 8 March 2018</h2>

        <h3 class="heading-small">Changes</h3>

          <ul class="list list-bullet">
            <li>Doesn't includes Change option on final screen</li>
          </ul>


        <a href="calculator/v3/index" class="button button-start mth mb1">Launch prototype</a>



    </div>
    <!-- COLUMN 2 THRIDS -->

  </div>
  <!-- MAIN CONTENT -->

</main>

</div>

{% endblock %}
