{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

          <div class="column-full">
              <h1 class="heading-large">To do</h1>

              <div class="form-group">
                <label>Office code <input type="search" class="" placeholder="" aria-controls="searchable-table" value=""></label>   <a href="to-do-list-all" class="button" id="testing">Search</a>
              </div>




      </div> <!-- COLUMN 2 THIRDS -->
 <!-- GRID ROW-->
  </div> <!-- MAIN CONTENT -->
</div>

</main>

{% endblock %}
