
  <div class="notice" style="margin-top: 32px; margin-bottom: 32px;">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
    This person needs to be contacted using [format].
  </strong>
  </div>

<!--
  <div class="panel panel-border-wide" style="border-color: #005ea5; border-left-style: solid; background-color: #eaf4f9;">

  	<h2 class="heading-small">This person needs to be contacted using large print.</h2>
  </div>
-->

<table>
    <tbody>
              <tr>
                <td width=45%>
                      Qualifying benefit
                  </td>
                  <td width=45%>
                      Employment and Support Allowance (ESA)
                  </td>
                  <td width=10%>
                  </td>
              </tr>
              <tr>
                  <td>
                      Date support effective from
                  </td>
                  <td>
                      19 September 2018
                  </td>
                  <td>
                      <a href="">Change</a>
                  </td>
              </tr>

        </tbody>
  </table>




  <h2 class="heading-medium">Personal details</h2>

  <table>
    <tbody>

              <tr>
                  <td width=45%>
                      Title
                  </td>
                  <td width=45%>
                    Mrs
                  </td>
                  <td width=10%></td>
              </tr>

                <tr>
                    <td>
                        Full name
                    </td>
                    <td>
                      {% include path+"/inc/applicantname.html" %}
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Date of birth
                    </td>
                    <td>
                      {% include path+"/inc/applicantDOB.html" %}
                    </td>
                    <td></td>

                  </tr>

                      <tr>
                        <td valign="top">Address of property that loan is held against</td>
                        <td>
                          {% include path+"/inc/applicantaddress.html" %}
                        </td>
                        <td></td>

                      </tr>
                      <tr>
                        <td valign="top">Country</td>
                        <td>
                          England
                        </td>
                        <td></td>

                      </tr>


                <tr>
                  <td valign="top">Address where applicant lives now</td>
                  <td>
                    {% include path+"/inc/applicantaddress.html" %}
                  </td>
                  <td></td>

                </tr>
                <tr>
                    <td>
                        Main phone number
                    </td>
                    <td>
                        01234 5678901
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Other phone number
                    </td>
                    <td>
                        04321 1098765
                    </td>
                    <td></td>

                </tr>

              </tbody>
        </table>

        <h2 class="heading-medium">Representative details</h2>

        <p>The following person handles correspondence for the applicant.</p>


        <table>
          <tbody>

            <tr>
                <td width=45%>
                    Type of appointee
                </td>
                <td width=45%>
                  [type here]
                </td>
                <td width=10%></td>

            </tr>


                <tr>
                    <td>
                        Title
                    </td>
                    <td>
                      Mr
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                      Mark Bowater
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td valign="top">
                        Address
                    </td>
                    <td>
                      123 Duffy Avenue<br />
                      Newcastle<br />
                      N1 9WD
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Main phone number
                    </td>
                    <td>
                      01432 987654
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Other phone number
                    </td>
                    <td>
                      01234 654987
                    </td>
                    <td></td>

                </tr>



            </tbody>
        </table>
