{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}


        <h1 class="heading-large">Deductions and other costs</h1>




            <div class="admin-panes">
              <div class="admin-pane">



                {% set navactive = "money" %}
                {% if not newapplication %}

                {% endif %}

                <form action="smi-payments-outcome-2" method="get" class="form">


                  <div class="form-group">
                    <fieldset>

                      <legend>
                        <h3 class="heading-small">Are there non-dependant deductions per week?</h3>
                      </legend>

                      <div class="multiple-choice" data-target="dependant-deductions-yes">
                        <input id="dependant-deductions-1" type="radio" name="dependant-deductions" value="Yes">
                        <label for="dependant-deductions-1">Yes</label>
                      </div>
                      <div class="panel panel-border-narrow js-hidden" id="dependant-deductions-yes">
                        <label class="form-label" for="deductions-amount">Enter the total, based on the number of non-dependant adults in the household</label>
                        <span class="c-form-input-denote">£</span>
                        <input class="c-form-input-denote__input form-control form-control-1-4" id="dependant-deductions-amount" type="text" name="dependant-deductions-amount">
                      </div>
                      <div class="multiple-choice">
                        <input id="dependant-deductions-2" type="radio" name="dependant-deductions" value="No">
                        <label for="dependant-deductions-2">No</label>
                      </div>

                    </fieldset>
                  </div>

                  <div class="form-group">
                    <label class="form-label-bold" for="groundrent">Ground rent per week</label>
                    <span class="c-form-input-denote">£</span>

                    <input class="c-form-input-denote__input form-control form-control-1-4" id="groundrent" type="text" name="groundrent" value="{{ groundrent }}">
                  </div>


                                    <div class="form-group">
                                      <label class="form-label-bold" for="servicechargesetc">Service charge and others charges per week</label>
                                      <span class="c-form-input-denote">£</span>

                                      <input class="c-form-input-denote__input form-control form-control-1-4" id="servicechargesetc" type="text" name="servicechargesetc" value="{{ servicechargesetc }}">
                                    </div>


             <input type="hidden" name="nino" value="{{ nino }}">
             <input type="hidden" name="newapplication" value="{{ newapplication }}">



             <p class="mth mb0">

               <input class="button" type="submit" value="Continue">
            </p>


           </form>



              </div> <!-- ADMIN PANE -->
            </div>  <!-- ADMIN PANES -->



      </div> <!-- COLUMN 2 THRIDS -->


    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
