{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}


                <h1 class="heading-large">Support for Mortgage Interest calculation</h1>

                <p>&nbsp;</p>

                <div class="panel panel-border-wide"  style="padding-top:4px; padding-bottom:4px;">

                <p><div class="heading-medium" style="margin-top:0;">Based on the inforamation provided the applicant can receive Support for Mortgage Interest.</div></p>

              </div>

              <h2 class="heading-medium">Deductions</h2>

              <p class="bold">Non-dependants deductions:<br />
                <span style="font-size: 26px;">£5.50</span></p>


              <p>No ground rent, service charge, and other charges information.</p>

              <h2 class="heading-medium">Loan 1: Home purchase loan or mortgage</h2> Loan reference number 71207737
              <p>Allowable amount: £35,000.00</p>
              <p class="bold">This loan can receive payments every four weeks (based on current interest rate of 2.45%) of:<br />
                <span style="font-size: 26px;">£23.18</span></p>

                <h2 class="heading-medium">Loan 2: Home improvement loan</h2> Loan reference number 26173770217
                <p>Allowable amount: £20,000.00</p>
                <p class="bold">This loan can receive payments every four weeks (based on current interest rate of 2.45%) of:<br />
                  <span style="font-size: 26px;">£15.73</span></p>



                  <p>&nbsp;</p>

                  <!--<p>Ground rent: £25</p>
                  <p>Service charge and other charges: £5</p>
                  <p class="bold">Benefit support for this rent and charges can be paid every week for:<br />
                    <span style="font-size: 26px;">£25</span></p>-->

<!--
                    <div class="panel panel-border-wide"  style="padding-top:4px; padding-bottom:4px; margin-bottom: 32px; margin-top:64px;">

                    <p class="bold">If this outcome looks correct send this information for approval.</p>

                  </div>
-->

            <!--  <p class="mth mb0"><a href="send-to-smits?nino={{ nino }}" class="button">Continue</a></p>-->

              <p class="mth mb0"><a href="summary-5?nino={{ nino }}" class="button">Continue</a></p>


      </div> <!-- COLUMN 2 THRIDS -->
      <!-- COLUMN 1 THIRD -->
 <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
