{% extends "govuk_template.html" %}

{% block page_title %} {{ serviceName }} {% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {{ data | log }}
  {% include "includes/scripts.html" %}
  {% block page_scripts %}{% endblock %}
{% endblock %}
