
<!--
  <div class="panel panel-border-wide" style="border-color: #005ea5; border-left-style: solid; background-color: #eaf4f9;">

  	<h2 class="heading-small">This person needs to be contacted using large print.</h2>
  </div>
-->

<table style="margin-top: 32px;">
    <tbody>
              <tr>
                <td width=45%>
                      Qualifying benefit
                  </td>
                  <td width=45%>
                      Employment and Support Allowance (ESA)
                  </td>
                  <td width=10%>
                  </td>
              </tr>
              <tr>
                  <td>
                      SMI entitlement start date
                  </td>
                  <td>
                      19 September 2018
                  </td>
                  <td>
                      <a href="smi-entitlement-start-date-change">Change</a>
                  </td>
              </tr>

        </tbody>
  </table>




  <h2 class="heading-medium">Personal details</h2>

  <div class="notice" style="margin-top: 32px;">
    <i class="icon icon-important" style="margin-top: -50px;">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
    This person needs to be contacted in Welsh and has the following communication or mobility needs:
    <ul  class="list list-bullet">
      <li>Large print</li>
      <li>Ramp</li>
    </ul>
  </strong>
  </div>

  <table>
    <tbody>

              <tr>
                  <td width=45%>
                      Title
                  </td>
                  <td width=45%>
                    Mrs
                  </td>
                  <td width=10%></td>
              </tr>

                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                      {% include path+"/inc/applicantname.html" %}
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Date of birth
                    </td>
                    <td>
                      {% include path+"/inc/applicantDOB.html" %}
                    </td>
                    <td></td>

                  </tr>

                      <tr>
                        <td valign="top">Home address</td>
                        <td>
                          {% include path+"/inc/applicantaddress.html" %}
                        </td>
                        <td></td>

                      </tr>
                      <tr>
                        <td valign="top">Country</td>
                        <td>
                          England
                        </td>
                        <td></td>

                      </tr>


                <tr>
                  <td valign="top">Correspondence address</td>
                  <td>
                    {% include path+"/inc/applicantaddress.html" %}
                  </td>
                  <td></td>

                </tr>
                <tr>
                    <td>
                        Home phone number
                    </td>
                    <td>
                        01234 5678901
                    </td>
                </tr>

                <tr>
                    <td>
                        Mobile phone number
                    </td>
                    <td>
                        0797 1098765
                    </td>
                </tr>

                <tr>
                    <td>
                        Textphone number
                    </td>
                    <td>
                        0675 5462723
                    </td>
                </tr>


              </tbody>
        </table>

        <h2 class="heading-medium">Representative details</h2>

        <div class="notice" style="margin-top: 32px;">
          <i class="icon icon-important" style="margin-top: -50px;">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
          This person needs to be contacted in Welsh and has the following communication or mobility needs:
          <ul  class="list list-bullet">
            <li>Large print</li>
            <li>Ramp</li>
          </ul>
        </strong>
        </div>


        <table>
          <tbody>

            <tr>
                <td width=45%>
                    Type of representative
                </td>
                <td width=45%>
                  [type here]
                </td>
                <td width=10%></td>

            </tr>


                <tr>
                    <td>
                        Title
                    </td>
                    <td>
                      Mr
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                      Mark Bowater
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td valign="top">
                        Address
                    </td>
                    <td>
                      123 Duffy Avenue<br />
                      Newcastle<br />
                      N1 9WD
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        Home phone number
                    </td>
                    <td>
                        01234 5678901
                    </td>
                </tr>

                <tr>
                    <td>
                        Mobile phone number
                    </td>
                    <td>
                        0797 1098765
                    </td>
                </tr>

                <tr>
                    <td>
                        Textphone number
                    </td>
                    <td>
                        0675 5462723
                    </td>
                </tr>


            </tbody>
        </table>
