{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

          <div class="column-two-thirds">


              <h1 class="heading-large">Upper limit and deductions</h1>

              {% set navactive = "limit_deductions" %}
              {% if not newapplication %}
              {% include path+"/inc/admin_submenu.html" %}
              {% endif %}


        <div class="admin-panes">
            <div class="admin-pane">
                         <table class="borrower-details">
                           <tbody>
                             <tr>
                                <td>
                                    <span class="bold-small">Upper limit</span><br />
                                    The maximum eligible amount of the applicant's mortgage. {% include path+"/inc/applicantbenefitslimitguidance.html" %} {{ benefit}}
                                </td>
                                <td>
                                  <div class="u-1/4-lap-and-up">
                                    <span class="c-form-input-denote">£</span>
                                    <input class="c-form-input-denote__input form-control form-control-2-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">


                                  </div>
                                </td>
                              </tr>

                              <tr>
                                  <td>
                                      <span class="bold-small">Ground rent per week</span>
                                  </td>
                                  <td>
                                    <div class="u-1/4-lap-and-up">
                                      <span class="c-form-input-denote">£</span>
                                      <input class="c-form-input-denote__input form-control form-control-2-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                                    </div>
                                  </td>
                               </tr>

                               <tr>
                                   <td>
                                       <span class="bold-small">Service charge per week</span>
                                   </td>
                                   <td>
                                     <div class="u-1/4-lap-and-up">
                                       <span class="c-form-input-denote">£</span>
                                       <input class="c-form-input-denote__input form-control form-control-2-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                                     </div>
                                   </td>
                                </tr>


                              <tr>
                                  <td>
                                      <span class="bold-small">Total contributions from non-dependants per week</span>
                                  </td>
                                  <td>
                                    <div class="u-1/4-lap-and-up">
                                      <span class="c-form-input-denote">£</span>
                                      <input class="c-form-input-denote__input form-control form-control-2-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                                    </div>
                                  </td>
                              </tr>

                            </tbody>
                          </table>


            </div>  <!-- ADMIN PANE -->
        </div> <!-- ADMIN PANES -->

        <br> </br>

        <input type="hidden" name="nino" value="{{ nino }}">

        <p class="mth mb0">
          {% if newapplication %}
          <a href="summary?nino={{ nino }}&newapplication=yes" class="button">Save and continue</a>
          {% else %}
          <a href="summary?nino={{ nino }}" class="button">Save and done</a>
          {% endif %}
          <br /><br /></p>
        <p class="mth mb0"><a href="summary">Cancel and view summary</a></p>

      </div> <!-- COLUMN 2 THIRDS -->
      <div class="column-one-third">

      <!--<div class="panel panel-border-wide alert-default">
          <p class="heading-small">Next thing to do:</p> Send out MI12 reminder
          <p><a href="#">View to do list</a></p>
      </div>-->
      <div class="left-aside">
        <h1 class="heading-medium">
        Applicant details
      </h1>
        <div class="panel panel-border-wide">
        <h2 class="heading-small">
          {% include path+"/inc/applicantname.html" %}<br />
          <span class="heading-secondary">{{ nino }}</span>
        </h1>
        </div>

     	  <h3 class="heading-small">Date of birth</h3> <p>{% include path+"/inc/applicantDOB.html" %}</p>
	      <hr  style="width:50%;margin:0"/>
     	  <h3 class="heading-small">Address</h3> <p>{% include path+"/inc/applicantaddress.html" %}</p>
	      <hr  style="width:50%;margin:0"/>
     	  <h3 class="heading-small">Phone number</h3> <p>{% include path+"/inc/applicantphonenumber.html" %}</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Benefit</h3> <p>{% include path+"/inc/applicantbenefits.html" %}</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Representative appointee </h3> <p>{% include path+"/inc/applicantappointee.html" %}
        </p>
	      <hr  style="width:50%;margin:0"/>
	    </div>

      </div> <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROW-->
  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
