{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        <form class="form">
          <div class="form-group">
            <fieldset>

              <legend>
                <h1 class="heading-medium">
                  How do you want to be contacted?
                </h1>
              </legend>

              <div class="multiple-choice" data-target="contact-by-email">
                <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                <label for="example-contact-by-email">Email</label>
              </div>
              <div class="panel panel-border-narrow" id="contact-by-email">
                <label class="form-label" for="contact-email">Email address</label>
                <input class="form-control" name="contact-email" type="text" id="contact-email">
              </div>

              <div class="multiple-choice" data-target="contact-by-phone">
                <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                <label for="example-contact-by-phone">Phone</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                <label class="form-label" for="contact-phone">Phone number</label>
                <input class="form-control" name="contact-phone" type="text" id="contact-phone">
              </div>

              <div class="multiple-choice" data-target="contact-by-text">
                <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
                <label for="example-contact-by-text">Text message</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
                <label class="form-label" for="contact-text-message">Mobile phone number</label>
                <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
              </div>

            </fieldset>
          </div>
        </form>


      </div> <!-- COLUMN 2 THIRDS -->
      <!-- COLUMN 1 THIRD -->
      <div class="column-one-third">

      </div> <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
