{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}


  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->

			 {% include path+"/inc/name-and-nino.html" %}




<div class="panel panel-border-wide" style="border-color: #28a197; border-left-style: solid; background-color: #eaf6f5;">

	<h2 class="heading-small">MI12 sent to the claimant and MI12 returned by the bank or building society</h2>
</div>

<!--
						 <div class="panel panel-border-wide" style="border-color: #005ea5; border-left-style: solid; background-color: #eaf4f9;">

							 <h2 class="heading-small">Next task</h2>
							 <ul>
								 <li><a href="payments-list?nino=QF 08 22 62 D">Send MI12</a></li>
							 </ul>

						</div>
-->

<div id="tasks-content">
	<ol class="task-list">
			<ul class="task-list-items">
				<li class="task-list-item">
					<a class="task-name" href="claimant-details">
						    Claimant details
						  </a>

				<span class="status-complete">Completed</span>

				</li>

				<li class="task-list-item">
					<a class="task-name" href="send-receive-MI12-pc">
						    Send and receive MI12
						  </a>
							<span class="status-complete">Completed</span>
				</li>
				<li class="task-list-item">
					<a class="task-name" href="smi-loan-decision">
						    MI12 loan decision
						  </a>
<span class="status-complete"></span>
				</li>
				<li class="task-list-item">
					<a class="task-name" href="list-of-loans-blank">
				Loan details
			</a>
<span class="status-complete"></span>
				</li>
				<li class="task-list-item">
					<a class="task-name" href="add-deductions">
				Deductions
			</a>
<span class="status-complete"></span>
				</li>

				<li class="task-list-item">
					<a class="task-name" href="payment-detail">
Payments
</a>
<span class="status-complete"></span>
				</li>
			</ul>
	</ol>
</div>




	        <!--<p class="mth mb0"><a href="payments" class="button">Proceed to authorise payments</a></p>-->
      </div>
			<div class="column-one-third">
				<p>&nbsp;</p>
				<h2 class="heading-medium">Claim history</h2>
				<ul class="timeline-bsp">
					<li>
						<span class="entry"></span>
						<h3 class="bold">MI12 returned by the bank or building society</h3>
						<span>by Jo Arthur</span>
						<span>21 May 2018</span>
					</li>

					<li>
						<span class="entry"></span>
						<h3 class="bold">MI12 sent to the claimant</h3>
						<span>by Jo Arthur</span>
						<span>21 May 2018</span>
					</li>

					<li>
						<span class="entry"></span>
						<h3 class="bold">Case created</h3>
						<span>by Jo Arthur</span>
						<span>21 May 2018</span>
					</li>

				</ul>

				<p>&nbsp;</p>

				<a href="#">Add note</a>

			</div>

    </div> <!-- GRID ROW -->
  </div> <!-- MAIN CONTENT -->
</main>


{% endblock %}
