{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}


        <h1 class="heading-large">Deductions and other costs</h1>




            <div class="admin-panes">
              <div class="admin-pane">



                {% set navactive = "money" %}
                {% if not newapplication %}

                {% endif %}

                <form action="review-application" method="get" class="form">


                  <table class="lender-details-1">
                    <tbody>


                        <tr>
                            <td>
                                <span class="bold-small">Non-dependant deductions per week</span><br />
Enter the total, based on the number of non-dependant adults in the household
</span>
                            </td>
                            <td>
                              <div class="u-1/4-lap-and-up">
                                <span class="c-form-input-denote">£</span>
                                <input class="c-form-input-denote__input form-control form-control-2-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                              </div>
                            </td>
                        </tr>



                            <tr>
                                <td>
                                    <span class="bold-small">Ground rent per week</span>
                                </td>
                                <td>
                                  <div class="u-1/4-lap-and-up">
                                    <span class="c-form-input-denote">£</span>
                                    <input class="c-form-input-denote__input form-control form-control-2-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                                  </div>
                                </td>
                             </tr>

                             <tr>
                                 <td>
                                     <span class="bold-small">Service charge per week</span>
                                 </td>
                                 <td>
                                   <div class="u-1/4-lap-and-up">
                                     <span class="c-form-input-denote">£</span>
                                     <input class="c-form-input-denote__input form-control form-control-2-4" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                                   </div>
                                 </td>
                              </tr>




                    </tbody>
                  </table>


             <input type="hidden" name="nino" value="{{ nino }}">
             <input type="hidden" name="newapplication" value="{{ newapplication }}">



             <p class="mth mb0">

               <input class="button" type="submit" value="Continue">


               <br /><br /><a href="summary">Cancel and view summary</a></p>


           </form>



              </div> <!-- ADMIN PANE -->
            </div>  <!-- ADMIN PANES -->



      </div> <!-- COLUMN 2 THRIDS -->


    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
