{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

            <div class="admin-panes">
              <div class="admin-pane">
                <h1 class="heading-large">Check the Support for Mortgage Interest payment</h1>

                <p>&nbsp;</p>

                <div class="panel panel-border-wide"  style="padding-top:4px; padding-bottom:4px;">

                <p><div class="heading-medium" style="margin-top:0;">{% include path+"/inc/applicantname.html" %} can take out a Support for Mortgage Interest (SMI) loan that pays £124.89 each week.</div></p>

              </div>
              <p>&nbsp;</p>

                <p>This is based on the following:</p>

                <table>
                  <tr>
                    <td>Outstanding loan amount</td>
                    <td>&pound;14,847.12</td>
                    <td><a href="">Change</a></td>
                  </tr>
                    <tr>
                      <td>Share of housing costs</td>
                      <td>1/1</td>
                      <td><a href="">Change</a></td>
                  </tr>
                  <tr>
                    <td>The maximum amount of loan eligible for SMI </td>
                    <td>&pound;14,847.12</td>
                    <td><a href="">Change</a></td>
                </tr>
                <tr>
                  <td>Ground rent and service charges</td>
                  <td>Nothing entered</td>
                  <td><a href="">Change</a></td>
              </tr>
              <tr>
                <td>Mortgage or loan protection insurance per week </td>
                <td>Nothing entered</td>
                <td><a href="">Change</a></td>
            </tr>
            <tr>
              <td>Contributions from non-dependants per week</td>
              <td>Nothing entered</td>
              <td><a href="">Change</a></td>
          </tr>
        </table>

        <tr>
          <td>Date claim eligible from</td>
          <td>INPUTS HERE</td>
          <td></td>
        </tr>


<p>&nbsp;</p>

                <form>
                  <div class="form-group">
                    <fieldset class="inline">

                      <legend>
                          Do you want to override the calculated SMI payment?
                      </legend>

                      <div class="multiple-choice" data-target="override-amount">
                        <input id="override-yes" name="override" type="radio" value="Yes">
                        <label for="override-yes">Yes</label>
                      </div>

                      <div class="multiple-choice">
                        <input id="override-no" name="override" type="radio" value="No">
                        <label for="override-no">No</label>
                      </div>
                      <div class="panel panel-border-narrow js-hidden" id="override-amount">
                        <label class="form-label" for="override-amount">Amount</label>
                        <span class="c-form-input-denote">£</span>
</label>
                        <input class="form-control" type="text" id="override-amount" name="override-amount">
                      </div>


                    </fieldset>
                  </div>
                </form>

                <p>&nbsp;</p>


              <p class="mth mb0"><a href="send-to-smits?nino={{ nino }}" class="button">Submit</a><br /></p>
              <p class="mth mb0"><a href="summary?nino={{ nino }}" class="link-back">Cancel</a></p>

              </div> <!-- ADMIN PANE -->
            </div>  <!-- ADMIN PANES -->
          <br> </br>



      </div> <!-- COLUMN 2 THRIDS -->
      <!-- COLUMN 1 THIRD -->
 <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
