{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-large">Mortgage/loan details</h1>


            <div class="admin-panes">
              <div class="admin-pane">



                {% set navactive = "money" %}
                {% if not newapplication %}
                {% include path+"/inc/admin_submenu.html" %}
                {% endif %}


                <h2 class="heading-medium">Mortgage/loan 1</h2>


                  <table class="lender-details-1">
                    <tbody>

                      <tr>
                        <td valign=top>
                          <span class="bold-small">Loan type</span>
                        </td>
                        <td colspan=2>
<div class="form-group">
<div class="multiple-choice">
  <input id="radio-inline-1" type="radio" name="payingTo" value="lender">
  <label for="radio-inline-1">Mortgage</label>
</div>
<div class="multiple-choice">
  <input id="radio-inline-2" type="radio" name="payingTo" value="lender">
  <label for="radio-inline-2">Second mortgage</label>
</div>
<div class="multiple-choice">
  <input id="radio-inline-3" type="radio" name="payingTo" value="lender">
  <label for="radio-inline-3">Remortgage</label>
</div>

<div class="multiple-choice">
  <input id="radio-inline-4" type="radio" name="payingTo" value="applicant">
  <label for="radio-inline-4">Home improvement loan</label>
</div>

</div>
</td>
</tr>


                        <tr>
                          <td>
                              <span class="bold-small">Lender code</span><br />
                              Enter a short code
                          </td>
                          <td>
                            <div class="u-1/4-lap-and-up">
                              <span class="c-form-input-denote"></span>
                              <form action="money" method="get" class="form" id="lendercode">
<input class="form-control" id="lendercode" type="text" name="lendercode" value="{{ lendercode }}">             <input type="hidden" name="nino" value="{{ nino }}"><input type="hidden" name="newapplication" value="{{ newapplication }}">

                            <input class="button" type="submit" value="Look up"></form>
                            </div>
                          </td>
                          <td>
                           </div></td>
                        </tr>

                      </tbody>
                    </table>


             <input type="hidden" name="nino" value="{{ nino }}">
             <input type="hidden" name="newapplication" value="{{ newapplication }}">



             <p>&nbsp;</p>
             <p class="mth mb0"><a href="summary">Cancel and view summary</a></p>


           </form>



              </div> <!-- ADMIN PANE -->
            </div>  <!-- ADMIN PANES -->
          <br> </br>



      </div> <!-- COLUMN 2 THRIDS -->

       <!-- COLUMN 1 THIRD -->
       <div class="column-one-third">
        <!--<div class="panel panel-border-wide alert-default">
            <p class="heading-small">Next thing to do:</p> Send out MI12 reminder
            <p><a href="#">View to do list</a></p>
        </div>-->
        <div class="left-aside">
          <h1 class="heading-medium">
          Applicant details
        </h1>
          <div class="panel panel-border-wide">
          <h2 class="heading-small">
            {% include path+"/inc/applicantname.html" %}<br />
            <span class="heading-secondary">{{ nino }}</span>
          </h1>
          </div>

       	  <h3 class="heading-small">Date of birth</h3> <p>{% include path+"/inc/applicantDOB.html" %}</p>
  	      <hr  style="width:50%;margin:0"/>
       	  <h3 class="heading-small">Address</h3> <p>{% include path+"/inc/applicantaddress.html" %}</p>
  	      <hr  style="width:50%;margin:0"/>
       	  <h3 class="heading-small">Phone number</h3> <p>{% include path+"/inc/applicantphonenumber.html" %}</p>
  	      <hr  style="width:50%;margin:0"/>
  	      <h3 class="heading-small">Benefit</h3> <p>{% include path+"/inc/applicantbenefits.html" %}</p>
  	      <hr  style="width:50%;margin:0"/>
  	      <h3 class="heading-small">Representative appointee </h3> <p>{% include path+"/inc/applicantappointee.html" %}
          </p>
  	      <hr  style="width:50%;margin:0"/>
  	    </div>

        </div> <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
