{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'claimant' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Kris Kelsey Shaw
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>
      </div>  

  <div class="column-two-thirds"> 
    <a class="link-back" href="person-1">Back</a>     
              <table class="borrower-details">
                <tbody>
                <tr>
                  <td>
                   <h2 class="heading-small">Set payments for Loan 1</h2>
                  </td>
                  <td></td>
                  <td>
                  </td>
                </tr>
  
                    <tr>
                        <td>
                            Qualifying date
                        </td>
                        <td>
                          <form>
                            <div class="form-group">
                              <fieldset>
                                <div class="form-date">
                                  <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="23">
                                  </div>
                                  <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="5">
                                  </div>
                                  <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016" value="2018">
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </form>
                        </td>
                        <td></td>
                  </tr>

                   <tr>
                        <td>
                            Outstanding balance
                        </td>
                        <td>
                            £20,200
                        </td>
                        <td></td>
                   </tr>  

                   <tr>
                        <td>
                            Shared housing costs
                        </td>
                        <td>
                            <form>
                            <div class="form-group">
                              <fieldset>
                                <div class="form-date">
                                  <div class="form-group form-group-shared-cost">
                                    <label class="form-label" for="dob-day">%</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="50">
                                  </div>
                                </div>
                              </fieldset>
                          </div>
                          </form>        
                        </td>
                        <td></td>
                   </tr>     

                    <tr>
                        <td>
                            Standard Interest Pay
                        </td>
                        <td>
                            <form>
                            <div class="form-group">
                              <fieldset>
                                <div class="form-date">
                                  <div class="form-group form-group-shared-cost">
                                    <label class="form-label" for="dob-day">Rate</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="2.1">
                                  </div>
                                </div>
                              </fieldset>
                          </div>
                          </form>        
                        </td>
                        <td></td>
                   </tr>                                     
                    
                </tbody>
            </table>     

            <br /><br />

              <div class="form-group">
                <input type="submit" class="button" value="Set payments">
              </div>

      </div><!-- column -->
              

          </div>
          </div>
        </div>
      </div>

        <!--<div class="column-third">
        <div class="left-aside">
          <h3 class="heading-small">Date of birth</h3> <p>24 January 1949</p>
          <hr  style="width:50%;margin:0"/>
          <h3 class="heading-small">Benefit</h3> <p>Pension Credit</p>
          <hr  style="width:50%;margin:0"/>
          <h3 class="heading-small">Appointee</h3> <p>William Wilberforce</p>
        </div>
      </div> <!-- column -->    

    </div><!-- row -->
  </div>
</main>
{% endblock %}
