{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'claimant' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Kris Kelsey Shaw
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>
      </div>  

  <div class="column-two-thirds">      
    <div class="horizontal-admin-secondary-wrapper">
      <div class="admin-column-wrapper">
        <div class="admin-content-wrapper">
          <div class="admin-content">
            <div class="admin-submenu-container">
            

            <div class="admin-submenu">
              <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Loan details</a></li>
                <li><a href="#">Make payments</a></li>
                <li><a href="#">Section 4</a></li>
                <li><a href="#">Section 5</a></li>
              </ul>
            </div>

            <!--<h1 class="heading-xlarge">Section 1</h1>-->

            <div class="admin-panes">
              <div class="admin-pane">
             <table class="borrower-details">
                <tbody>
                <tr>
                  <td>
                   <h2 class="heading-small">Borrower details</h2>
                  </td>
                  <td></td>
                  <td>
                    <p class="heading-small"><a href="person-1-details">Change<span class="visuallyhidden">borrower details</span></a></p>
                  </td>
                </tr>

                    <tr>
                        <td>
                            First date of claim
                        </td>
                        <td>
                          <form>
                            <div class="form-group">
                              <fieldset>
                                <div class="form-date">
                                  <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                  </div>
                                  <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                  </div>
                                  <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </form>
                        </td>
                        <td><p class="heading-small"><a href="change-details">Add<span class="visuallyhidden"> first date of claim</span></a></p></td>
                  </tr>   
                    <tr>
                        <td>
                            Qualifying date
                        </td>
                        <td>
                          <form>
                            <div class="form-group">
                              <fieldset>
                                <div class="form-date">
                                  <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                  </div>
                                  <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                  </div>
                                  <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </form>
                        </td>
                        <td><p class="heading-small"><a href="change-details">Add<span class="visuallyhidden"> qualifying date</span></a></p></td>
                  </tr>
                    <tr>
                        <td>
                            Mortgage review date
                        </td>
                        <td>
                          <form>
                            <div class="form-group">
                              <fieldset>
                                <div class="form-date">
                                  <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                  </div>
                                  <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                  </div>
                                  <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </form>
                        </td>
                        <td><p class="heading-small"><a href="change-details">Add<span class="visuallyhidden"> Mortgage dreview date</span></a></p></td>
                  </tr>  

                    <tr>
                        <td>
                            Address
                        </td>
                        <td>
                            1 The Street<br />
                            Kingston-upon-hull<br />
                            KD12 9FT
                        </td>
                        <td></td>
                    </tr>        

                    <tr>
                        <td>
                            Benefit type
                        </td>
                        <td>
                            Pension Credit
                        </td>
                        <td></td>
                    </tr>                               
                </tbody>
            </table>                            

      </div><!-- column -->
              

              <div class="admin-pane">
                            <table class="loan-details-1">
                <tbody>
                <tr>
                  <td>
                   <h2 class="heading-small">Loan 1 details</h2>
                  </td>
                  <td>
                  </td>
                  <td>
                    <p class="heading-small"><a href="change-details">Change<span class="visuallyhidden">loan 1 details</span></a></p>
                  </td>
                <tr>
                  <td>
                    Lender name
                  </td>
                  <td>
                  Bank of United Kingdom
                  </td>
                  <td>
                  </td> 
                </tr>   
                    <tr>
                        <td>
                            Lender code
                        </td>
                        <td>
                            6293
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Lender address
                        </td>
                        <td>
                            1 The Street<br />
                            Kingston-upon-hull<br />
                            KD12 9FT
                        </td>
                        <td></td>
                    </tr>                    
                    <tr>
                        <td>
                            Date of loan
                        </td>
                        <td>
                            23 September 1995
                        </td>
                        <td></td>
                   </tr>
                   <tr>
                        <td>
                            Outstanding balance
                        </td>
                        <td>
                            £83,231
                        </td>
                        <td></td>
                   </tr>                                                     
                </tbody>
            </table>      

            <br /> 

            <table class="loan-details-2">
                <tbody>
                <tr>
                  <td>
                   <h2 class="heading-small">Loan 2 details</h2>
                  </td>
                  <td>
                  </td>
                  <td>
                    <p class="heading-small"><a href="change-details">Change<span class="visuallyhidden">loan 2 details</span></a></p>
                  </td>
                <tr>
                  <td>
                    Lender name
                  </td>
                  <td>
                  Bank of Yorkshire Wide
                  </td>
                  <td>
                  </td> 
                </tr>   
                    <tr>
                        <td>
                            Lender code
                        </td>
                        <td>
                            2052
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Lender address
                        </td>
                        <td>
                            2 Mark Street<br />
                            Kingston-upon-hull<br />
                            KP6 7MS
                        </td>
                        <td></td>
                    </tr>                    
                    <tr>
                        <td>
                            Date of loan
                        </td>
                        <td>
                            2 December 2001
                        </td>
                        <td></td>
                   </tr>
                   <tr>
                        <td>
                            Outstanding balance
                        </td>
                        <td>
                            £20,200
                        </td>
                        <td></td>
                   </tr>                                                     
                </tbody>
            </table>  


              </div>

              <div class="admin-pane">
                <a href="pay-loan-1">Set payments for Loan 1</a>
              </div>

              <div class="admin-pane">
                Section 4
              </div>

              <div class="admin-pane">
                Section 5
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

        <!--<div class="column-third">
        <div class="left-aside">
          <h3 class="heading-small">Date of birth</h3> <p>24 January 1949</p>
          <hr  style="width:50%;margin:0"/>
          <h3 class="heading-small">Benefit</h3> <p>Pension Credit</p>
          <hr  style="width:50%;margin:0"/>
          <h3 class="heading-small">Appointee</h3> <p>William Wilberforce</p>
        </div>
      </div> <!-- column -->    

    </div><!-- row -->
  </div>
</main>
{% endblock %}
