{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-two-thirds">

          <h1 class="heading-large">Find someone</h1>

          <form action="search-nino" method="get" class="form" id="search-form">
            <div class="form-group">
              <label class="form-label" for="nino">Enter a National Insurance number, for example QQ123456C</label>
              <input id="nino" type="search" autocomplete="off" name="nino" value="{{ nino }}" class="form-control form-control-1-4">
            </div>

            <input type="hidden" name="benefitclass" value="{{ benefitclass }}">

            <input class="button" type="submit" value="Find" style="margin-top:-16px;">

        </form>

        <p><div style="color:#fff">Working age: QU452702A</div></p>

        <p><div style="color:#fff">Pension credit: FD340514D</div></p>

    </div>

    </div>
  </div>
</main>
{% endblock %}
