{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}


                <h1 class="heading-large">Review payment</h1>

                <p>The following payment will be set up. Check the information before continuing.</p>

                <table class="lender-details-1">
                  <tbody>

                    <tr>
                    <td>
                        <span class="bold-small">Amount</span>
                    </td>
                    <td>
                          &pound;15.73 every four weeks
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span class="bold-small">Sort code</span>
                    </td>
                    <td>
                      01-44-99
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span class="bold-small">Account number</span>
                    </td>
                    <td>
                      26173770217
                    </td>
                  </tr>

                  <tr>
                    <td>
                        <span class="bold-small">First payment due</span>
                    </td>
                    <td>
                      29 May 2018
                    </td>
                  </tr>


                                                            <tr>
                                                            <td>
                                                                <span class="bold-small">Review date</span>
                                                            </td>
                                                            <td>
                                                                  22 May 2019
                                                            </td>
                                                          </tr>


</table>

              <p class="mth mb0"><a href="payment-confirmed-2?nino={{ nino }}&smitsstatus=approved&mortgagesloans=yes&payments=yes" class="button">Set up</a></p>

            </div>


       <!-- COLUMN 2 THIRDS -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
