{% extends path+"/inc/layout.html" %} {% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-large">Screen 1</h1>



        <h2 class="heading-medium">H2 title</h2>


        <table class="lender-details-1">
          <tbody>
            <form action="screen_2" method="get" class="form" id="form">

              <tr>
                <td>
                  National Insurance number
                </td>
                <td>
                  <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
      </div>
      </td>
      <td>
      </td>

      </tr>

      <tr>
        <td>
          Title
        </td>
        <td>
          <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>


<tr>
  <td>
    First name(s)
  </td>
  <td>
    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>

<tr>
  <td>
    Last name
  </td>
  <td>
    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>


      <tr>
        <td>
          Date of birth
        </td>
        <td>
          <div class="form-group">
            <fieldset>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="dob-day">Day</label>
                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="">
                </div>
                <div class="form-group form-group-month">
                  <label class="form-label" for="dob-month">Month</label>
                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="">
                </div>
                <div class="form-group form-group-year">
                  <label class="form-label" for="dob-year">Year</label>
                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="">
                </div>
              </div>
            </fieldset>
          </div>

        </td>
        <td>
        </td>
      </tr>

      <tr>
        <td>
          Claimant/residential address
        </td>
        <td>
          <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                              <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
                                        <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9"><br />
                                        Postcode           <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</td>
<td>
</td>

</tr>

<tr>
  <td>
    Correspondance address
  </td>
  <td>
    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
              <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9"><br />
                                  Postcode           <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>


<tr>
  <td>
    Country code
  </td>
  <td>
    <div class="form-group">
      <fieldset>

    <div class="multiple-choice">
      <input id="radio-inline-1" type="radio" name="radio-inline-group-2" value="Yes">
      <label for="radio-inline-1">EN</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-inline-2" type="radio" name="radio-inline-group-2" value="No">
      <label for="radio-inline-2">SC</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-inline-3" type="radio" name="radio-inline-group-2" value="No">
      <label for="radio-inline-3">WA</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-inline-4" type="radio" name="radio-inline-group-2" value="No">
      <label for="radio-inline-4">NI</label>
    </div>

  </fieldset>
</div>

</td>
<td>
</td>

</tr>

<tr>
  <td>
    Home telephone number
  </td>
  <td>
    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>

<tr>
  <td>
    Mobile telephone number
  </td>
  <td>
    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>

<tr>
  <td>
    Textphone number
  </td>
  <td>
    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>


<tr>
  <td>
   Partner
  </td>
  <td>
    <div class="form-group">
      <fieldset>

    <div class="multiple-choice">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      <label for="radio-inline-1">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      <label for="radio-inline-2">No</label>
    </div>
  </fieldset>
</div>
</div>
</td>
<td>
</td>

</tr>

<tr>
  <td>
    Number of loans
  </td>
  <td>
    <input class="form-control" id="regpay01" type="text" name="regpay01" value="" data-parsley-id="9">
</div>
</td>
<td>
</td>

</tr>





      </tbody>
      </table>



      <p class="mth mb0">
        <input class="button" type="submit" value="Save and continue">
      </p>
      <p class="mth mb0">
        <a href="">Cancel</a>
      </p>


      </form>



    </div>
    <!-- COLUMN 2 THRIDS -->

  </div>
  <!-- GRID ROM -->

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
