{% extends path+"/inc/layout.html" %} {% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-large">Screen 8: submission complete</h1>



        <h2 class="heading-medium">H2 title</h2>


          Completion message

      <p class="mth mb0">
        <a href="screen_3-with-info">Continue</a>
      </p>
      <p class="mth mb0">
        <a href="screen_1">Start another</a>
      </p>





    </div>
    <!-- COLUMN 2 THRIDS -->

  </div>
  <!-- GRID ROM -->

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
