{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}


        <h1 class="heading-large">Deductions and charges</h1>


                {% set navactive = "money" %}
                {% if not newapplication %}

                {% endif %}

                <h2 class="heading-medium">Change non-dependant deductions</h2>


                <form action="smi-payments-outcome-change-non-deps" method="get" class="form">

                  <p style="padding: 32px 0;">Non-dependant deductions are currently £12.34.</p>


                  <div class="form-group">
                    <fieldset>

                      <legend>
                        <h3 class="heading-small">Are there any non-dependant deductions?</h3>
                      </legend>

                      <div class="multiple-choice" data-target="dependant-deductions-yes">
                        <input id="dependant-deductions-1" type="radio" name="dependant-deductions" value="Yes">
                        <label for="dependant-deductions-1">Yes</label>
                      </div>
                      <div class="panel panel-border-narrow js-hidden" id="dependant-deductions-yes">
                        <label class="form-label" for="deductions-amount">Enter the total per week, based on the number and type of non-dependant adults in the household</label>
                        <span class="c-form-input-denote">£</span>
                        <input class="c-form-input-denote__input form-control form-control-1-4" id="dependant-deductions-amount" type="text" name="dependant-deductions-amount">
                      </div>
                      <div class="multiple-choice">
                        <input id="dependant-deductions-2" type="radio" name="dependant-deductions" value="No">
                        <label for="dependant-deductions-2">No</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="dependant-deductions-3" type="radio" name="dependant-deductions" value="Not needed">
                        <label for="dependant-deductions-3">Not needed</label>
                      </div>


                    </fieldset>
                  </div>

                  <p class="mth mb0">

                    <input class="button" type="submit" value="Save"><br />
                    <br />
                    <a href="">Cancel</a>
                 </p>


                </form>



      </div> <!-- COLUMN 2 THRIDS -->


    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
