{% extends path+"/inc/layout.html" %} {% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}


        <div class="admin-panes">
          <div class="admin-pane">
            <h1 class="heading-large">Loans and payments</h1>

            <p>&nbsp;</p>
            <!--
                <div class="panel panel-border-wide" style="border-color: #F47738; border-left-style: solid; background-color: #FABB9C;">
                 <h2 class="heading-small">There is not enough information to calculate a Support for Mortgage Interest payment</h2>
                 <ul>
                   <li>You need to give the amount owed on the mortgage or loan and the the details of the account to pay before a payment can be calculated.</li>
                 </ul>
               </div>
             -->

             <table>
               <thead>
                 <tr>
                   <th class="col-0"></th>
                   <th class="col-1">Status</th>
                   <th class="col-2">Loan type</th>
                   <th class="col-3">Lender</th>
                   <th class="col-4">Loan reference</th>
                   <th class="col-5">Amount</th>
                   <th class="col-6">&nbsp;</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>1.</td>

                   <td>
                     <span class="status-on-hold">No payment set up</span>
                   </td>
                   <td>
                     Mortgage
                   </td>

                   <td>
                     Yorkshire Building Society
                   </td>
                   <td>
                      7611448890
                   </td>

                   <td>
                      £3.36
                   </td>

                   <td>
                     <a href="set-up-payment?nino={{ nino }}" >Set up</a>
                   </td>
                 </tr>

               </tbody>
               </table>

               <p style="padding-top: 32px;"><a href="add-loan">Add loan</a></p>



          </div>
          <!-- ADMIN PANE -->
        </div>
        <!-- ADMIN PANES -->
        <br> </br>



      </div>
      <!-- COLUMN 2 THRIDS -->
      <!-- COLUMN 1 THIRD -->

      <!-- COLUMN 1 THIRD -->

    </div>
    <!-- GRID ROM -->

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
