{% extends path+"/inc/layout.html" %}

{% block content %}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

	<main id="content" role="main">
		{% include path+"/inc/main_nav.html" %}

		<div class="main-content">
				<div class="grid-row">
					<div class="column-two-thirds">
						{% include path+"/inc/name-and-nino.html" %}

						{% include path+"/inc/summary_tab_letters_table_english_customer-3.html" %}
					</div>

	  			<div class="column-one-third">
						<h2 class="heading-medium">Case history</h2>

						<a href="add-note">Add note</a>

						<ul class="timeline-bsp">
							<li>
								<span class="entry"></span>
								<h3 class="bold">Case created</h3>
								<span>by Jo Arthur</span>
								<span>21 May 2018</span>
							</li>
						</ul>
					</div>
				</div>
		</div>
	</main>
{% endblock %}
