{% extends path+"/inc/layout.html" %}

{% block content %}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

	<main id="content" role="main">
		{% include path+"/inc/main_nav.html" %}

		<div class="main-content">
				<div class="grid-row">
					<div class="column-two-thirds">
						{% include path+"/inc/name-and-nino_in-payment.html" %}

            <h2 class="heading-medium">Letters options</h2>

            <ol  class="list list-number">

              <li><a href="summary-letters-list">List of all letters</a>, a static list of options, presented using UL</li>

              <li><a href="summary-letters-table">A table of all letters</a>, coded in the prototype using TABLE etc, to represent the content</li>

              <li><a href="summary-letters-table-english-customer">Table: English and letters to customer</a>, with view all letters underneath the table: development of the static list, but assuming we know Welsh? and Appointee? we could use deductive logic to present certain letters only.</li>

              <li><a href="summary-letters-table-english-customer-2">Table: English and letters to customer</a>: same as above but with increased spacing about H3s</li>

              <li><a href="summary-letters-table-english-customer-3">Table: English and letters to customer</a>: same as above but with "England" removed from the table</li>

              </ol>

              <h2 class="heading-medium">Letters generation screens</h2>

              <ol  class="list list-number">

                <li><a href="letters-gather-info">No additional info from the user needed</a> [working on]</li>

                <li><a href="letters-gather-inform-SMIL054">User needs to provide information, by providing additional free text</a> [working on]</li>

                <li><a href="letters-gather-inform-SMIL036">User needs to provide information, by options to questions</a> [working on]</li>

                </ol>


					</div>



	  			<div class="column-one-third">

					</div>
				</div>
		</div>
	</main>
{% endblock %}
