{% extends "application/v1/layout.html" %}

{% block content %}

<main id="content" role="main" class="multi-page">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Support For Mortgage Interest</h1>

      <aside class="cf">
        <div class="inner">
          <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
            <ol>
              <li class="active">
                <span class="part-number">1.</span>
                <a title="Part 1: Overview" href="">Overview</a>
              </li>
              <li>
                <span class="part-number">2.</span>
                <a title="Part 2: What you'll get" href="">What you'll get</a>
              </li>
              <li>
                <span class="part-number">3.</span>
                <a title="Part 3: Eligibility" href="">Eligibility</a>
              </li>
            </ol><ol start="4">
              <li>
                <span class="part-number">4.</span>
                <a title="Part 4: How to claim" href="">How to claim</a>
              </li>
              <li>
                <span class="part-number">5.</span>
                <a title="Part 5: Further information" href="">Further information</a>
              </li>
            </ol>
          </nav>
        </div>
      </aside>

      <h2 class="heading-medium">4.Apply</h2>

      <p>You can apply</p>

      <a href="personal.html" class="button button-start">Start now</a>

    </div><!-- column -->
  </div><!-- row -->
</main>

{% endblock %}
