<div class="version">
  <div class="grid-row">

    <div class="mt1"></div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">Prototype 1</h3>
    </div>

    <div class="column-third">
      <p class="mb0">Date of release</p>
      <h3 class="heading-medium mt0 mb0">March 2017</h3>
    </div>

    <div class="column-third">
      <details>
        <summary><span class="summary">Quick links</span></summary>
        <div class="quicklinks">
          <ul>
            <a href="/application/v2/login">Login</a><br />
          </ul>
        </div>
      </details>
    </div>

    <div class="column-two-thirds">

      <a href="v1/govuk-apply" class="button button-start mth mb1">Launch prototype</a>

      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>lorum ipsum</li>
      </ul>

    </div>

  </div><!-- row -->
</div><!-- version -->
