{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}


  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->

			 {% include path+"/inc/name-and-nino.html" %}



			<div class="admin-panes">
		        <div class="admin-pane">


						 <div class="panel panel-border-wide" style="border-color: #F47738; border-left-style: solid; background-color: #FABB9C;">

							 <h2 class="heading-small">Loan agreement received</h2>
							 <ul>
								 <li><a href="payments-list?nino=QF 08 22 62 D">Payments need setting up</a></li>
							 </ul>

						</div>


													<h2 class="heading-medium">Payments</h2>

													<p>No payments set up</p>

													<p><a href="payments-list">Set up</a></p>




		        </div> <!-- ADMIN PANE -->
		    </div> <!-- ADMIN PANES -->


	        <!--<p class="mth mb0"><a href="payments" class="button">Proceed to authorise payments</a></p>-->
      </div>     <!-- COLUMN 2 THRIDS -->


			<!-- COLUMN 1 THIRD -->
			<!-- COLUMN 1 THIRD -->


    </div> <!-- GRID ROW -->
  </div> <!-- MAIN CONTENT -->
</main>


{% endblock %}
