{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino_in-payment.html" %}


                <h1 class="heading-large">Remove case control for send MI12</h1>

                <p>[manual case description here]</p>

                <h2 class="heading-medium">What you should have done</h2>
                <ul class="list  list-bullet">
                  <li>All actions for this case control have been completed</li>
                </ul>


                <h2 class="heading-medium">What you need to do next</h2>
                <ul class="list  list-bullet">
                  <li>If any further actions are needed you have created the necessary notes or case controls</li>
                </ul>


              <h2 class="heading-medium">What happens next</h2>
                <ul class="list list-bullet">
                  <li>The case control will be removed</li>
                </ul>


              <p style="margin-top:32px;"><a href="case-management-manual-case-removed" class="button">Confirm</a></p>



</div>

       <!-- COLUMN 2 THIRDS -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
