{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}



          <h1 class="heading-large">All notes</h1>

          <ul class="timeline-bsp">
  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">Payment set up</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  						<p>Loan reference number 26173770217</p>

  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">Payment set up</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  						<p>Loan reference number 71207737</p>

  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">Deductions added</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">Home improvement loan added</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  						<p>Loan reference number 26173770217<br />
  Allowable amount: £20,000.00</p>
  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold"> Home purchase loan or mortgage

   added</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  						<p>Loan reference number 71207737<br />
  Allowable amount: £35,000.00</p>

  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">Charge form been received back</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">Loan agreeement been received back</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">MI12 returned by the bank or building society</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">MI12 sent to the claimant</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  					</li>

  					<li>
  						<span class="entry"></span>
  						<h3 class="bold">Case created</h3>
  						<span>by Jo Arthur</span>
  						<span>21 May 2018</span>
  					</li>

  				</ul>


        </form>



      </div>
    </div>
  </div>
</main>
{% endblock %}
