{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

	{% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Kris Kelsey Shaw
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>

            
        <div class="admin-submenu">
          <ul>
            <li><a href="summary">Summary</a></li>
            <li><a href="personal_details">Personal details</a></li>
            <li><a href="mortgage">Mortgage and home loans</a></li>
            <li><a href="limit_and_deductions">Upper limit and deductions</a></li>            
            <li class="active"><a href="notes">Notes</a></li>
          </ul>
        </div>            

		<div class="admin-panes">
			<div class="admin-pane">	

				 <h2 class="heading-medium">Notes</h2>
				 <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>

			</div> <!-- ADMIN PANE -->
		</div> <!-- ADMIN PANES -->

	  <p class="mth mb0"><a href="summary" class="button">Save</a></p> 
	  	
	  </div> <!-- COLUMN 2 THIRDS -->

	  <div class="column-one-third"> 

	    <div class="panel panel-border-wide alert-default">
	        <p class="heading-small">Next thing to do:</p> Send out MI12 reminder
	        <p><a href="#">View to do list</a></p>
	    </div>     
	    <div class="left-aside">
	      <h3 class="heading-small">Benefit</h3> <p>Pension Credit</p>
	      <hr  style="width:50%;margin:0"/>
	      <h3 class="heading-small">Representative</h3> <p>Neil Murphy</p>
	    </div>

	  </div> <!-- COLUMN 1 THIRD -->

	</div> <!-- GRID ROW-->
  </div> <!-- MAIN CONTENT -->

</main>  

{% endblock %}