{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}

	
  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->
        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Kris Kelsey Shaw
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>

        <div class="admin-submenu">
            <ul>
              <li><a href="summary">Summary</a></li>
              <li><a href="personal_details">Personal details</a></li>
              <li><a href="mortgage">Mortgage and home loans</a></li>
              <li><a href="limit_and_deductions">Upper limit and deductions</a></li>    
              <li class="active"><a href="Payees">Payees</a></li>        
              <li><a href="notes">Notes</a></li>
            </ul>
          </div>            

			<h1 class="heading-medium mb0">Payee account details</h1> 
			<div class="admin-panes">
	          <div class="admin-pane">	            

	              <div class="example">
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
              <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">There's a problem. </h1>
              <p>Enter all data, and calculate and authorise payment before entering payee account details. You'll be asked to enter payee account details when you authorise payment.</p>

          </div>

            

              <p class="mth mb0"><a href="summary" class="button">Continue</a></p> 
          
          </div>        
  </div> <!-- MAIN CONTENT -->
</main>     
          

{% endblock %}     