{% extends path+"/inc/layout.html" %} {% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}



  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}

        {% include path+"/inc/alertbox.html" %}


        <h1 class="heading-large" style="margin-bottom:-16px;">Overview</h1>
        <hr>



        <h2 class="heading-medium">Notes</h2>

              <table class="lender-details-1">
                <tbody>

                  <tbody>
                      <tr>
                        <th>
                         Note created on: 23 January 2018
                        </th>
                      </tr>

                    <tr>
                      <td colspan=2>
                       Most recent note. Need more content than this.
                     </td>
                    </tr>
                    <tr style="border:0;">
                      <td style="border:0;">
                        <a href="screen_notes_add?referpage=overview&hasnotes=yes">Add note</a>
                     </td>
                     <td style="border:0;">
                       <a href="screen_notes_1?hasnotes=yes">View notes</a>

                     </td>
                    </tr>

            </table>


<p>&nbsp;</p>

<h2 class="heading-medium">Deductions, limits, and charges</h2>


        <table class="lender-details-1">
          <tbody>


              <tr>
                <td>
                 Non-dependant deductions
                </td>
                <td>
                  &pound;2500
      </td>
      <td>
        <a href="screen_2">Edit</a>

      </td>

      </tr>

      <tr>
        <td>
          Override upper limit
        </td>
        <td>
          &pound;100000
</td>
<td>
  <a href="screen_2">Edit</a>

</td>

</tr>

<tr>
  <td>
    Ground rent and service charge
  </td>
  <td>
    &pound;0
</td>
<td>
  <a href="screen_2">Edit</a>

</td>

</tr>

      </tbody>
      </table>

      <p>&nbsp;</p>



      <h2 class="heading-medium">Home loans and SMI payments</h2>

      <table class="lender-details-1">
        <tbody>


            <tr>
              <th>
               Mortgage or home loan reference
              </th>
              <th>
                Net weekly SMI payment
              </th>
              <th>
              </th>
            </tr>
            <tr>
              <td>
               Loan 1
             </td>
              <td>
                &pound;50.20
              </td>
              <td>
                <a href="screen_4">Edit mortgage/loan</a><br />
                <a href="screen_5">Edit payee</a><br />
                <a href="screen_6">Edit SMI payment</a>
              </td>
            </tr>
    </table>



      <p class="mth mb0">
        <a href="screen_4">Add a loan</a>
      </p>
    </div>
    <!-- COLUMN 2 THIRDS -->

    <div class="column-one-third">
      {% include path+"/inc/applicantdetails.html" %}
    </div>

  </div>
  <!-- GRID ROM -->

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
