{% extends path+"/inc/layout.html" %} {% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %} {% include path+"/inc/alertbox.html" %}


        <h1 class="heading-large" style="margin-bottom:-16px;">SMI loan payments</h1>
        <hr>



        SOMETHING HERE


      </div>
      <!-- COLUMN 2 THRIDS -->

    </div>
    <!-- GRID ROM -->

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
