{% extends path+"/inc/layout.html" %} {% block content %}
<main id="content" role="main">


  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}

        {% include path+"/inc/alertbox.html" %}


        <h1 class="heading-large" style="margin-bottom:64px;">Overview for {{ firstname }} {{ lastname }} [screen 3]</h1>



<h2 class="heading-medium">Deductions, charges, and limit</h2>


        <table class="lender-details-1">
          <tbody>


              <tr>
                <td>
                 Non-dependant deductions
                </td>
                <td>
                  &pound;2500
      </td>
      <td>
        <a href="screen_3">Change</a>

      </td>

      </tr>


<tr>
  <td>
    Ground rent and service charge
  </td>
  <td>
    &pound;0
</td>
<td>
  <a href="screen_3">Change</a>

</td>

</tr>
<tr>
  <td>
    Upper limit
  </td>
  <td>
    &pound;100000
</td>
<td>
<a href="screen_3">Change</a>

</td>

</tr>


      </tbody>
      </table>

      <p>&nbsp;</p>



      <h2 class="heading-medium">Home loans and SMI payments</h2>

      <table class="lender-details-1">
        <tbody>


            <tr>
              <th>
               Mortgage or home loan reference
              </th>
              <th>
                Applicable loan balance
              </th>

              <th>
                Net weekly SMI payment
              </th>
              <th>
                Payee
              </th>
              <th>
              </th>
            </tr>
            <tr>
              <td>
               Loan 1
             </td>
             <td>
               &pound;90,000
             </td>

              <td>
                &pound;50.20
              </td>
              <td>
                <a href="screen_4">Change mortgage/loan</a>
              </td>
              <td>
                <a href="screen_5">Change payee</a>
              </td>
              <td>
                <a href="screen_6">Change SMI payment</a>
              </td>
            </tr>
    </table>



      <p class="mth mb0">
        <a href="screen_4">Add a loan</a>
      </p>

      <h2 class="heading-medium">Notes</h2>

            <table class="lender-details-1">
              <tr colspan=2>
                <td>No notes [need review]</td>
                  </tr>
                  <tr style="border:0;">
                    <td style="border:0;">
                      <a href="screen_notes_add">Add notes</a>
                   </td>
                   <td style="border:0;">
                     <a href="screen_notes_1">View notes</a>

                   </td>
                  </tr>

          </table>


<p>&nbsp;</p>


    </div>
    <!-- COLUMN 2 THIRDS -->

    <div class="column-one-third">
      {% include path+"/inc/applicantdetails.html" %}
    </div>

  </div>
  <!-- GRID ROM -->

  </div>
  <!-- MAIN CONTENT -->

</main>

{% endblock %}
