{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino_in-payment.html" %}


        <h1 class="heading-large">Change deductions and charges</h1>


                {% set navactive = "money" %}
                {% if not newapplication %}

                {% endif %}



                <form action="changes-review-no-deps" method="get" class="form">


                  <p class="heading-medium" style="padding: 32px 0;">Current non-dependant deductions are £10.00 per week.</p>

                  <div class="form-group"  style="padding-top:32px;">
                    <fieldset>

                      <legend>
                        <h3 class="heading-small">How have the non-dependant deductions changed?</h3>
                      </legend>

                      <div class="multiple-choice" data-target="deps-stopped">
                        <input id="dependant-deductions-1" type="radio" name="dependant-deductions" value="Yes">
                        <label for="dependant-deductions-1">There are no longer non-dependant deductions</label>
                      </div>
                      <div class="panel panel-border-narrow js-hidden" id="deps-stopped">
                        <div class="form-group">
                            <fieldset>
                              <legend>
                                <span class="form-label-bold">
                                  End date for the deductions
                                </span>
                              </legend>
                              <div class="form-date">
                                <div class="form-group form-group-day">
                                  <label class="form-label" for="dob-day">Day</label>
                                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="">
                                </div>
                                <div class="form-group form-group-month">
                                  <label class="form-label" for="dob-month">Month</label>
                                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="">
                                </div>
                                <div class="form-group form-group-year">
                                  <label class="form-label" for="dob-year">Year</label>
                                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" value="">
                                </div>
                              </div>
                            </fieldset>
                          </div>

                      </div>
                      <div class="multiple-choice" data-target="deps-changed">
                        <input id="dependant-deductions-2" type="radio" name="dependant-deductions" value="No">
                        <label for="dependant-deductions-2">The amount for non-dependant deductions has changed</label>
                      </div>
                      <div class="panel panel-border-narrow js-hidden" id="deps-changed">
                        <div class="form-group">
                            <fieldset>
                              <legend>
                                <span class="form-label-bold">
                                  End date for the previous deductions
                                </span>
                              </legend>
                              <div class="form-date">
                                <div class="form-group form-group-day">
                                  <label class="form-label" for="dob-day">Day</label>
                                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="">
                                </div>
                                <div class="form-group form-group-month">
                                  <label class="form-label" for="dob-month">Month</label>
                                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="">
                                </div>
                                <div class="form-group form-group-year">
                                  <label class="form-label" for="dob-year">Year</label>
                                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" value="">
                                </div>
                              </div>
                            </fieldset>
                          </div>
                          <div class="form-group">
                          <label class="form-label" for="deductions-amount">Enter the new total per week, based on the number and type of non-dependant adults in the household</label>
                          <span class="c-form-input-denote">£</span>
                          <input class="c-form-input-denote__input form-control form-control-1-4" id="dependant-deductions-amount" type="text" name="dependant-deductions-amount">
                          </div>


                      </div>


                    </fieldset>
                  </div>

                  <p class="mth mb0">

                    <input class="button" type="submit" value="Continue"><br />
                    <br />
                    <a href="">Cancel</a>
                 </p>


                </form>



      </div> <!-- COLUMN 2 THRIDS -->


    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
