{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">
      <div class="column-two-thirds">

          <h1 class="heading-large">Confirm details
</h1>


<div class="panel panel-border-wide" style="border-color: #005ea5; border-left-style: solid; background-color: #eaf4f9; margin-top: 64px; margin-bottom: 64px;">
<p>
  This is an applicant not currently in the mortgage interest loan system.
</p>
</div>



            <table>
                <tbody>
                  <tr>
                      <td>
                          National Insurance number
                      </td>
                      <td>
                          {{nino}}
                      </td>
                  </tr>
              </table>

    <h2 class="heading-medium">Benefit</h2>


    <table>
        <tbody>
                  <tr>
                      <td>
                          Qualifying benefit
                      </td>
                      <td>
                          Employment and Support Allowance (ESA)
                      </td>
                  </tr>
            </tbody>
      </table>


      <h2 class="heading-medium">Personal details</h2>

      <table>
        <tbody>

                  <tr>
                      <td>
                          Title
                      </td>
                      <td>
                        Mrs
                      </td>
                  </tr>

                    <tr>
                        <td>
                            Full name
                        </td>
                        <td>
                          {% include path+"/inc/applicantname.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date of birth
                        </td>
                        <td>
                          {% include path+"/inc/applicantDOB.html" %}
                        </td>
                      </tr>

                          <tr>
                            <td valign="top">Address of property that loan is held against</td>
                            <td>
                              {% include path+"/inc/applicantaddress.html" %}
                            </td>
                          </tr>
                          <tr>
                            <td valign="top">Country where property is</td>
                            <td>
                              England
                            </td>
                          </tr>


                    <tr>
                      <td valign="top">Address where applicant lives now</td>
                      <td>
                        {% include path+"/inc/applicantaddress.html" %}
                      </td>
                    </tr>
                    <tr>
                        <td>
                            Main phone number
                        </td>
                        <td>
                            01234 5678901
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Other phone number
                        </td>
                        <td>
                            04321 1098765
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            This person needs to be contacted using [format].
                        </td>
                    </tr>

                  </tbody>
            </table>

            <h2 class="heading-medium">Alternative contact details</h2>

            <p>The following person handles correspondence for the applicant.</p>


            <table>
              <tbody>

                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                          Mr
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                          Mark Bowater
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Address
                        </td>
                        <td>
                          123 Duffy Avenue<br />
                          Newcastle<br />
                          N1 9WD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Main phone number
                        </td>
                        <td>
                          01432 987654
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Other phone number
                        </td>
                        <td>
                          01234 654987
                        </td>
                    </tr>

                </tbody>
            </table>
<!--
            <div class="form-group" style="margin-top:32px;">
              <fieldset>
                <legend>
                  <h3 class="heading-small">
                    Do you want to add alternative representative contact details?
                  </h3>
                </legend>
                <div class="multiple-choice" data-target="repaddress">
                    <input id="different-address" name="none" type="checkbox" value="yes">
                    <label for="different-address">Yes</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="repaddress">
                  <div class="form-group">
                    <label class="form-label" for="reptitle">
                      Title
                    </label>
                    <input class="form-control form-control-1-8 " id="reptitle" type="text" name="reptitle" value="{{ reptitle }}">
                  <label class="form-label" for="repfirstname">
                    First name
                  </label>
                  <input class="form-control" id="repfirstname" type="text" name="repfirstname" value="{{ repfirstname }}">
                  <label class="form-label" for="replastname">
                    Last name
                  </label>
                  <input class="form-control" id="replastname" type="text" name="replastname" value="{{ replastname }}">

                </div>

                  <legend>
                    <h3 class="heading-small">
                      Address
                    </h3>
                  </legend>
                <div class="form-group">

                  <label class="form-label hidden" for="otheraddress1">
                    Address line 1
                  </label>
                  <input class="form-control" id="otheraddress1" type="text" name="otheraddress1" value="{{ otheraddress1 }}">
                  <label class="form-label hidden" for="otheraddress2">
                    Address line 2
                  </label>
                  <input class="form-control" id="otheraddress2" type="text" name="otheraddress2" value="{{ otheraddress2 }}">
                </div>
                <div class="form-group">
                  <label class="form-label" for="otheraddresspostcode">
                    Postcode
                  </label>
                  <input class="form-control form-control-1-8" id="otherpostcode" type="text" name="otherpostcode" value="{{ otherpostcode }}">
                </div>
                <div class="form-group">
                  <label class="form-label" for="othertelephonenumber">
                    Telephone number
                  </label>
                  <input class="form-control form-control-1-4" id="othertelephonenumber" type="text" name="othertelephonenumber" value="{{ othertelephone }}">
                </div>

              </div>

            </fieldset>
            </div>

-->


<!--
            <div class="form-group">
              <fieldset>

                <legend>
                  <h3 class="heading-small">There is no qualifying benefit. Is this a 10p case?</h3>
                </legend>

                <div class="multiple-choice">
                  <input id="TenP-1" type="radio" name="TenP" value="Yes">
                  <label for="TenP-1">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="TenP-2" type="radio" name="TenP" value="No">
                  <label for="TenP-2">No</label>
                </div>

              </fieldset>
            </div>

  -->


            <p class="mth mb0"><br /><a href="search-nino-found-start-wa-fed?nino={{ nino }}&newapplication=yes" class="button">Continue</a><br /><br /></p>
            <p class="mth mb0"><a href="search">Cancel and find someone else</a></p>
         </div><!-- column -->
    </div>
  </div>
</main>
{% endblock %}
