{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        {% include path+"/inc/name-and-nino.html" %}


                <h1 class="heading-large">Mortgage interest loan calculation</h1>

                <p>&nbsp;</p>

                <div class="panel panel-border-wide"  style="padding-top:4px; padding-bottom:4px;">
                  <p style="margin-top:0;">Based on the information provided the applicant can receive a mortgage interest loan.</p>

                <p>This calculation is based on the current standard interest rate (SIR) of 2.45%.</p>
              </div>

              <h2 class="heading-medium">Loan 1: Home purchase loan or mortgage</h2>

              <table>
                <tr>
                  <td>Lender</td>
                  <td>HSBC</td>
                </tr>
                <tr>
                  <td>Loan reference number</td>
                  <td>71207737</td>
                </tr>
                <tr>
                  <td>Allowable amount</td>
                  <td>£35,000.00</td>
                </tr>
                  <tr>
                    <td>Deduction based on non-dependants</td>
                    <td>£XXX</td>
                  </tr>
                  <tr>
                    <td><span class="bold">Weekly mortgage interest loan payment</span></td>
                    <td><span class="bold" style="font-size: 26px;">£23.18</span></td>
                  </tr>
                </table>


                <h2 class="heading-medium">Loan 2: Home improvement loan</h2>

                <table>
                  <tr>
                    <td>Lender</td>
                    <td>HSBC</td>
                  </tr>
                  <tr>
                    <td>Loan reference number</td>
                    <td>625346123</td>
                  </tr>
                  <tr>
                    <td>Allowable amount</td>
                    <td>£10,000.00</td>
                  </tr>
                  <tr>
                    <td>Deduction based on non-dependants</td>
                    <td>£XXX</td>
                  </tr>
                  <tr>
                    <td><span class="bold">Weekly mortgage interest loan payment</span></td>
                    <td><span class="bold" style="font-size: 26px;">£7.59</span></td>
                  </tr>
                </table>

                  <p>&nbsp;</p>

                  <!--<p>Ground rent: £25</p>
                  <p>Service charge and other charges: £5</p>
                  <p class="bold">Benefit support for this rent and charges can be paid every week for:<br />
                    <span style="font-size: 26px;">£25</span></p>-->

<!--
                    <div class="panel panel-border-wide"  style="padding-top:4px; padding-bottom:4px; margin-bottom: 32px; margin-top:64px;">

                    <p class="bold">If this outcome looks correct send this information for approval.</p>

                  </div>
-->

            <!--  <p class="mth mb0"><a href="send-to-smits?nino={{ nino }}" class="button">Continue</a></p>-->

              <p class="mth mb0"><a href="summary-5?nino={{ nino }}" class="button">Continue</a></p>


      </div> <!-- COLUMN 2 THRIDS -->
      <!-- COLUMN 1 THIRD -->
 <!-- COLUMN 1 THIRD -->

    </div> <!-- GRID ROM -->

  </div> <!-- MAIN CONTENT -->

</main>

{% endblock %}
