{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

	{% set currentPage = 'claimant' %}
	{% include path+"/inc/main_nav.html" %}


  <div class="main-content"> <!-- MAIN CONTENT -->
     <div class="grid-row">	 <!-- GRID ROW -->

     <div class="column-two-thirds"> <!-- COLUMN 2 THRIDS -->

			 <h1 class="heading-large">Summary</h1>

			 {% set navactive = "summary" %}
			 {% if not newapplication %}
			 {% include path+"/inc/admin_submenu.html" %}
			 {% endif %}


			<div class="admin-panes">
		        <div class="admin-pane">

							{% if smitsstatus %}

							<p>&nbsp;</p>

							<div class="panel panel-border-wide" style="border-color: #F47738; border-left-style: solid; background-color: #FABB9C;">

								{% if smitsstatus == "sent" %}

			 				 <h2 class="heading-small">This application has been sent to SMITS</h2>
			 				 <ul>
			 					 <li>No action needed at this time. You will be informed when any action is needed.</li>
			 				 </ul>

							 {% endif %}

			 			 </div>

						 {% endif %}

						 {% if payments == "suspended"%}


						 <p>&nbsp;</p>

						 <div class="panel panel-border-wide" style="border-color: #F47738; border-left-style: solid; background-color: #FABB9C;">

							 <h2 class="heading-small">Payment suspended</h2>
							 <ul>
								 <li>Payment to this claimant was suspended on 20 October 2017.</li>
							 </ul>

						</div>


						 {% endif %}


		            <table class="borrower-details">
		                <tbody>

											<tr>
												<td valign=bottom>
													<h2 class="heading-medium">Upper limit and deductions</h2>
												</td>
												<td valign=bottom align=right>
													<a style="align:right;" href="limit_and_deductions?nino={{ nino }}">Edit<span class="visuallyhidden">overview details</span></a>
												</td>
												</tr>

		                    <tr>
		                        <td>
		                            Upper limit
		                        </td>
		                        <td>
		                            £200,000
		                        </td>

		                    </tr>

		                    <tr>
		                        <td>
		                            Ground rent and service charges
		                        </td>
		                        <td>
		                            Nothing entered
		                        </td>
		                    </tr>

		                    <tr>
		                        <td>
		                            Non-dependant deductions
		                        </td>
		                        <td>
		                            Nothing entered
		                        </td>
		                    </tr>
		                </tbody>
		            </table>

								<br /><br />


		            <h2 class="heading-medium mb0">Payments for mortgages and loans</h2>

								{% if mortgagesloans == "yes" %}

	                <table class="loan-details">
	                	<tbody>
			                <tr>
			                  <td>
			                   <h2 class="heading-small">Mortgage or home loan ref</h2>
			                  </td>
			                  <td>
			                  <h2 class="heading-small">Weekly payment with deductions</h2>
			                  </td>
												<td>
												<h2 class="heading-small">Last paid</h2>
												</td>
			                  <td></td>
			                </tr>

			                <tr>
			                  <td>
			                    23456789
			                  </td>
			                  <td>
													{% if payments == "yes" %}£50.00{% elif payments == "suspended" %}Payment suspended{% else %}No payment set up{% endif %}
			                  </td>
												<td>
													11/12/2017
												</td>
			                  <td>
			                    <p class="heading-small mth"><a href="payment-detail?nino=BG112233N&showdata=yes&lendercode=1111">Edit<span class="visuallyhidden"> mortgage or home loan details</span></a></p>
			                  </td>
			                </tr>
	                	</tbody>
	            	</table>

								<br />

								<p><a href="money?nino={{ nino }}">Add another mortgage or loan</a></p>
								<p><a href="payments-list?nino={{ nino }}">View payment history</a></p>

								{% else %}

								<p></p>
								<p>No mortgages or loans information provided.</p>
								<p><a href="money">Add a mortgage or loan</a><br /><br /></p>

								{% endif %}

								<p class="mth mb0"><a href="calculate_award?nino={{ nino }}" class="button">Calculate award</a><br /><br /></p>



								<h2 class="heading-medium mb0">Notes</h2>

									<table class="loan-details">
										<tbody>
											<tr>
												<td>
												 <h2 class="heading-small">28 November 2017</h2>
												</td>
											</tr>
											<tr>
												<td>
													<div class="column-two-thirds">
													<div class="bold-small">Note written by Alan Buckley</div><br />
													We need some sample text to go in here. We are not putting this in front of users. And we are not using the sample Latin here either. This should represent what a user would actually out in here.
												</div>
												</td>
											</tr>

											<tr>
												<td>
												 <h2 class="heading-small">7 November 2017</h2>
												</td>
											</tr>
											<tr>
												<td>
													<div class="column-two-thirds">
														<div class="bold-small">Note written by John McDermott</div><br />
													We need some sample text to go in here. We are not putting this in front of users. And we are not using the sample Latin here either. This should represent what a user would actually out in here.
												</div>
												</td>
											</tr>

										</tbody>
								</table>

								<br />

								<p><a href="mortgage">Add another note</a><br /><br /></p>


		        </div> <!-- ADMIN PANE -->
		    </div> <!-- ADMIN PANES -->


	        <!--<p class="mth mb0"><a href="payments" class="button">Proceed to authorise payments</a></p>-->
      </div>     <!-- COLUMN 2 THRIDS -->


			<!-- COLUMN 1 THIRD -->
			<div class="column-one-third">
			 <!--<div class="panel panel-border-wide alert-default">
					 <p class="heading-small">Next thing to do:</p> Send out MI12 reminder
					 <p><a href="#">View to do list</a></p>
			 </div>-->
			 <div class="left-aside">
				 <h1 class="heading-medium">
				 Applicant details
			 </h1>
				 <div class="panel panel-border-wide">
				 <h2 class="heading-small">
					 {% include path+"/inc/applicantname.html" %}<br />
					 <span class="heading-secondary">{{ nino }}</span>
				 </h1>
				 </div>

				 <h3 class="heading-small">Date of birth</h3> <p>{% include path+"/inc/applicantDOB.html" %}</p>
				 <hr  style="width:50%;margin:0"/>
				 <h3 class="heading-small">Address</h3> <p>{% include path+"/inc/applicantaddress.html" %}</p>
				 <hr  style="width:50%;margin:0"/>
				 <h3 class="heading-small">Phone number</h3> <p>{% include path+"/inc/applicantphonenumber.html" %}</p>
				 <hr  style="width:50%;margin:0"/>
				 <h3 class="heading-small">Benefit</h3> <p>{% include path+"/inc/applicantbenefits.html" %}</p>
				 <hr  style="width:50%;margin:0"/>
				 <h3 class="heading-small">Representative appointee </h3> <p>{% include path+"/inc/applicantappointee.html" %}
				 </p>
				 <hr  style="width:50%;margin:0"/>
			 </div>

			 </div> <!-- COLUMN 1 THIRD -->


    </div> <!-- GRID ROW -->
  </div> <!-- MAIN CONTENT -->
</main>


{% endblock %}
