{% if not firstname %}
  {% set firstname = "Sally" %}
{% endif %}

{% if not lastname %}
  {% set lastname = "Worthington" %}
{% endif %}

{% if not nino %}
  {% set nino = "ZR 09 23 76 B" %}
{% endif %}

{% if startnino %}
  {% set firstname = "No name" %}
  {% set lastname = "No name" %}
  {% set nino = "No NINo" %}
{% endif %}

  {% set casestatusdescription = "Dormant" %}



<h2 class="heading-large" style="margin-bottom:64px; line-height: 32px;">
  <span class="heading-secondary" style="margin-bottom:0;">{{ firstname }} {{ lastname }}</span>
  {{ nino }}<br />
  <span class="status-dormant">{{ casestatusdescription }}</span>

</h2>
